<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.IndivDao" >
	
	<sql id="sql_indivColumns">
		       t1.id               as id,
  			   t1.indiv_code       as indivCode,
  			   t1.sku_id           as skuId,
  			   t1.sku_name         as skuName,
  			   t1.sku_code         as skuCode,
  			   t1.warehouse_id     as warehouseId,
  			   t1.warehouse_name   as warehouseName,
  			   t1.measure_unit     as measureUnit,
  			   t1.in_id            as inId,
  			   t1.in_time          as inTime,
  			   t1.in_code          as inCode,
  			   t1.product_batchno  as productBatchNo,
  			   t1.out_id           as outId,
  			   t1.out_time         as outTime,
  			   t1.out_code         as outCode,
  			   t1.order_id         as orderId,
  			   t1.order_code       as orderCode,
  			   t1.rma_time         as rmaTime,
  			   t1.rma_code         as rmaCode,
  			   t1.rma_count        as rmaCount,
  			   t1.wares_status     as waresStatus,
  			   t1.stock_status     as stockStatus,
  			   t1.remark           as remark
	</sql>
	
	<!-- 获取商品个体列表. -->
	<select id="queryIndivByPage" parameterType="map" resultType="Indiv">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  	   select <include refid="sql_indivColumns"/>
		  	  	     from wms_indiv t1
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="indivCode != null">and t1.indiv_code=#{indivCode}</if>
				   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
				   		<if test="skuId != null">and t1.sku_id=#{skuId}</if>
				   		<if test="waresStatus != null">and t1.wares_status=#{waresStatus}</if>
				   		<if test="stockStatus != null">and t1.stock_status=#{stockStatus}</if>
				   		<if test="stockInItemId != null">and t1.stockin_item_id=#{stockInItemId}</if>
				   		<if test="outCode != null">and t1.out_code=#{outCode}</if>
				   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
				   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
				   		<if test="stockInTimeBegin != null">and t1.in_time<![CDATA[>=]]>#{stockInTimeBegin}</if>
				   		<if test="stockInTimeEnd != null">and t1.in_time<![CDATA[<=]]>#{stockInTimeEnd}</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 查询商品个体列表总数-->
	<select id="queryIndivTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_indiv t1
	   <where>
	   		<if test="id != null">t1.id=#{id}</if>
	   		<if test="indivCode != null">and t1.indiv_code=#{indivCode}</if>
	   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
	   		<if test="skuId != null">and t1.sku_id=#{skuId}</if>
	   		<if test="waresStatus != null">and t1.wares_status=#{waresStatus}</if>
	   		<if test="stockStatus != null">and t1.stock_status=#{stockStatus}</if>
	   		<if test="stockInItemId != null">and t1.stockin_item_id=#{stockInItemId}</if>
	   		<if test="stockOutCode != null">and t1.stockout_code=#{stockOutCode}</if>
	   		<if test="stockOutItemId != null">and t1.stockout_item_id=#{stockOutItemId}</if>
	   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
	   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
	   		<if test="stockInTimeBegin != null">and t1.in_time<![CDATA[>=]]>#{stockInTimeBegin}</if>
	   		<if test="stockInTimeEnd != null">and t1.in_time<![CDATA[<=]]>#{stockInTimeEnd}</if>
	   </where> 
	</select>
	
	<!--查询符合条件的商品个体列表. -->
	<select id="queryIndivList" parameterType="map" resultType="Indiv">
		select <include refid="sql_indivColumns"/>
		  from wms_indiv t1
		<where>
			<if test="outId!=null">t1.out_id=#{outId}</if>
			<if test="orderCode!=null">and t1.order_code=#{orderCode}</if>
			<if test="prepareId!=null">and t1.prepare_id=#{prepareId}</if>
			<if test="skuCode!=null">and t1.sku_code=#{skuCode}</if>
			<if test="wareHouseId!=null">and t1.warehouse_id=#{wareHouseId}</if>
			<if test="stockStatusNotIn!=null">and t1.stock_status!=#{stockStatusNotIn}</if>
		</where>
	</select>
	
	<!--根据个体编号批量获取个体列表. -->
	<select id="queryIndivListByCodes" parameterType="list" resultType="Indiv">
		select <include refid="sql_indivColumns"/>
		  from wms_indiv t1
		 where t1.indiv_code in ('test-test-test')
		   <foreach item="item" index="index" collection="list">
	 	 	or t1.indiv_code in(#{item, jdbcType=VARCHAR}) 
	 	 </foreach>
	</select>
	
	<!--根据个体编号批量获取出库个体列表. -->
	<select id="queryIndivListByOutCodes" parameterType="map" resultType="Indiv">
		select <include refid="sql_indivColumns"/>
		  from wms_indiv t1
		 where t1.stock_status='4' and t1.sku_code=#{skuCode, jdbcType=VARCHAR} and t1.warehouse_id=#{warehouseId} and (t1.indiv_code ='test-test-test'
		   <foreach item="item" index="index" collection="indivList">
	 	 	or t1.indiv_code in(#{item, jdbcType=VARCHAR}) 
	 	 </foreach>)
	</select>
	
	<!-- 分页获取未被推送的已发货的销售商品个体 -->
	<select id="queryUnpushedDeliveredIndivByPage" parameterType="map" resultType="Indiv">
	SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		select t3.material_code           as materialCode,
		  	  			   t1.indiv_code              as indivCode,
					       t1.out_time                as outTime,
					       t1.push_status             as pushStatus,
					       t1.push_time               as pushTime,
					       t1.push_count              as pushCount,
					       t1.out_id                  as "order.id",
					       t2.province                as "order.province",
					       t2.city                    as "order.city",
			               t2.district                as "order.district",
			               t2.address                 as "order.address",
					       t2.consignee               as "order.consignee",
					       t2.mobile                  as "order.mobile",
					       t2.tel                     as "order.tel",
					       t1.order_code 			  as orderCode 
					  from wms_indiv t1
					  join wms_sales_order t2
					    on t1.out_id = t2.id
					  join wms_sku t3
					    on t1.sku_id = t3.id
					 <where>
					 	   t1.stock_status = 4
					   and t1.push_status != '1'
					 </where>
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 获取未被推送的已发货的销售商品个体总数 -->
	<select id="queryUnpushedDeliveredIndivCount" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_indiv t1
		  join wms_sales_order t2
		    on t1.out_id = t2.id
		  join wms_sku t3
		    on t1.sku_id = t3.id
		 <where>
		 	   t1.stock_status = 4
		   and t1.push_status != '1'
		 </where>
	</select>
	
	<!-- 批量更新商品个体信息 -->
  	<update id="batchUpdateIndiv" parameterType="list"> 
         update wms_indiv 
         <set>
         	<trim prefix="rma_time =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.rmaTime!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.rmaTime}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="rma_id =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.rmaId!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.rmaId}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="rma_code =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.rmaCode!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.rmaCode}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="wares_status =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.waresStatus!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.waresStatus}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="rma_count =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.rmaCount!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.rmaCount}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="warehouse_id =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.warehouseId!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.warehouseId}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="warehouse_name =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.warehouseName!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.warehouseName}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="stock_status =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.stockStatus!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.stockStatus}
	            </if>
            </foreach>
          	</trim>
         	<trim prefix="push_status =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.pushStatus!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.pushStatus}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="push_time =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.pushTime!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.pushTime}
	            </if>
            </foreach>
          	</trim>
          	<trim prefix="push_count =case" suffix="end,">
            <foreach collection="list" item="i"  index="index">
	            <if test="i.pushCount!=null">
	             when (indiv_code=#{i.indivCode}) then #{i.pushCount}
	            </if>
            </foreach>
          	</trim>
          </set>
         where indiv_code in
         <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	 	 	#{item.indivCode}
	 	 </foreach>
	</update>
	
	<!-- 批量更新商品个体的出库信息 -->
	<update id="updateIndivsByCodes" parameterType="map">
  		update wms_indiv
  		<set>
			<if test="orderCode!=null">order_code=#{orderCode},</if>
			<if test="inId!=null">in_id=#{inId},</if>
			<if test="inCode!=null">in_code=#{inCode},</if>
			<if test="inTime!=null">in_time=#{inTime},</if>
			<if test="outCode!=null">out_code=#{outCode},</if>
			<if test="outTime!=null">out_time=#{outTime},</if>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="waresStatus!=null">wares_status=#{waresStatus}</if>
		</set>
  	      where indiv_code in
		 <foreach item="item" index="index" collection="indivCodes" open="(" separator="," close=")">
		 	 	#{item}
		 </foreach>
  	</update>
  	
  <!-- 批量更新商品个体的状态和退货信息 -->
	<update id="updateIndivsRmaInfoByCodes" parameterType="map">
  		update wms_indiv
  		<set>
  		    <if test="rmaCode!=null">rma_code=#{rmaCode},</if>
  		    <if test="rmaTime!=null">rma_time=#{rmaTime},</if>
			<if test="orderCode!=null">order_code=#{orderCode},</if>
			<if test="inId!=null">in_id=#{inId},</if>
			<if test="inCode!=null">in_code=#{inCode},</if>
			<if test="inTime!=null">in_time=#{inTime},</if>
			<if test="outCode!=null">out_code=#{outCode},</if>
			<if test="outTime!=null">out_time=#{outTime},</if>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="waresStatus!=null">wares_status=#{waresStatus},</if>
			rma_count=rma_count+1
		</set>
  	      where indiv_code in
		 <foreach item="item" index="index" collection="indivCodes" open="(" separator="," close=")">
		 	 	#{item}
		 </foreach>
  	</update>
  	
  	<!-- 批量更新商品个体的出库确认信息 -->
	<update id="updateIndivsOutConfirmInfo" parameterType="map">
  		update wms_indiv t1
		   set t1.out_time     = #{outTime},
		       t1.stock_status = 4,
		       t1.order_id  =
		       (select original_id
		          from wms_delivery
		         where id = t1.out_id
		           and batch_id = #{batchId}),
		       t1.order_code  =
		       (select original_code
		          from wms_delivery
		         where id = t1.out_id
		           and batch_id = #{batchId})
		 where t1.stock_status = 3
		   and exists (select 1
		          from wms_delivery
		         where id = t1.out_id
		           and batch_id = #{batchId})
  	</update>
  	<update id="updateIndivsOutConfirmInfo_bak" parameterType="map">
		 update wms_indiv t1
		    set t1.stockout_code =
		        (select t2.flow_code
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
		        t1.stockout_time =
		        (select t2.flow_time
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
		        t1.order_code   =
		        (select t2.original_code
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
				t1.stock_status = #{stockStatus}
		  where exists (select 1
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode})
  	</update>
  	<!-- 批量更新商品个体的退货确认信息 -->
  	<update id="updateIndivsRmaInfo" parameterType="map">
		 update wms_indiv t1
		    set t1.rma_code =
		        (select t2.flow_code
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
		        t1.rma_time =
		        (select t2.flow_time
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
				t1.wares_status =
		        (select t2.wares_status
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode}),
		        t1.stock_status = #{stockStatus},
		        t1.rma_count   = t1.rma_count+1
		  where exists (select 1
		           from wms_indiv_flow t2
		          where t2.indiv_code = t1.indiv_code
		            and t2.flow_type = #{flowType}
				    and t2.flow_code = #{flowCode})
  	</update>
	
	<!-- 更新商品个体信息 -->
	<update id="updateIndiv" parameterType="Indiv">
  		update wms_indiv
  		<set>
			<if test="indivCode!=null">indiv_code=#{indivCode},</if>
			<if test="productBatchNo!=null">product_batchno=#{productBatchNo},</if>
			<if test="waresStatus!=null">wares_status=#{waresStatus},</if>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="rmaTime!=null">rma_time=#{rmaTime},</if>
			<if test="rmaId!=null">rma_id=#{rmaId},</if>
			<if test="rmaCode!=null">rma_code=#{rmaCode},</if>
			<if test="rmaCount!=null">rma_count=#{rmaCount},</if>
			<if test="remark!=null">remark=#{remark}</if>
		</set>
  	     where id = #{id}
  	</update>
  	
  	<!-- 更新商品个体信息 -->
	<update id="updateIndiv1" parameterType="Indiv">
  		update wms_indiv
  		<set>
			<if test="productBatchNo!=null">product_batchno=#{productBatchNo},</if>
			<if test="waresStatus!=null">wares_status=#{waresStatus},</if>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="rmaTime!=null">rma_time=#{rmaTime},</if>
			<if test="rmaId!=null">rma_id=#{rmaId},</if>
			<if test="rmaCode!=null">rma_code=#{rmaCode},</if>
			<if test="rmaCount!=null">rma_count=#{rmaCount},</if>
			<if test="remark!=null">remark=#{remark}</if>
		</set>
  	     where indiv_code = #{indivCode}
  	</update>
  	
	<!-- 更新商品个体信息 -->
	<update id="updateIndivRmaInfoByCode" parameterType="Indiv">
  		update wms_indiv
  		<set>
			<if test="rmaTime!=null">rma_time=#{rmaTime},</if>
			<if test="rmaId!=null">rma_id=#{rmaId},</if>
			<if test="rmaCode!=null">rma_code=#{rmaCode},</if>
			<if test="rmaCount!=null">rma_count=#{rmaCount}+1</if>
		</set>
  	     where  indiv_code=#{indivCode}
  	</update>  	
  	<!-- 添加商品个体信息 -->
	<insert id="addIndiv" parameterType="Indiv">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_indiv
		  (id, stock_id, indiv_code,product_batchno,wares_status,stock_status,remark)
		values
		  (#{id},#{stock.id},#{indivCode},#{batchNumber},#{waresStatus},#{stockStatus},#{remark})
	</insert>
	
	<!-- 批量添加商品个体信息 -->
	<insert id="addIndivs" parameterType="list">
 		insert into wms_indiv(id,order_id,indiv_code,sku_id,sku_code,sku_name,warehouse_id,warehouse_name,in_id,in_code,product_batchno,wares_status,stock_status,measure_unit,rma_count,push_status,push_count,in_time,case_code,order_code,out_time)
		select WMS_SEQ_COMMON.nextval,A.* from(
		<foreach item="item" collection="list" index="index" separator="UNION ALL">
		   select #{item.orderId, jdbcType=VARCHAR},#{item.indivCode, jdbcType=VARCHAR},#{item.skuId},#{item.skuCode},#{item.skuName},#{item.warehouseId},#{item.warehouseName},#{item.inId, jdbcType=VARCHAR},#{item.inCode},#{item.productBatchNo, jdbcType=VARCHAR},#{item.waresStatus},#{item.stockStatus},#{item.measureUnit},#{item.rmaCount},#{item.pushStatus},#{item.pushCount},#{item.inTime},#{item.caseCode,jdbcType=VARCHAR},#{item.orderCode,jdbcType=VARCHAR},#{item.outTime,jdbcType=TIMESTAMP} from dual
		</foreach>
		  )A
	</insert>
	
	<!-- 批量更新与指定入库明细项相关联的商品身份信息集 -->
	<update id="updateIndivsByInItemIds" parameterType="map">
  		update wms_indiv
  		<set>
			<if test="warehouseCode!=null">warehouse_code=#{warehouseCode},</if>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="stockInTime!=null">in_time=#{stockInTime},</if>
			<if test="remark!=null">remark=#{remark}</if>
		</set>
  	     where stockin_item_id in
  	     <foreach item="item" index="index" collection="stockInItemIds" open="(" separator="," close=")">
	 	 	#{item}
	 	 </foreach>
  	</update>
  	
  	<!-- 批量更新与指定出库明细项相关联的商品身份信息集 -->
	<update id="updateIndivsByOutItemIds" parameterType="map">
  		update wms_indiv
  		<set>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="stockOutTime!=null">stockout_time=#{stockOutTime},</if>
			<if test="stockOutCode!=null">stockout_code=#{stockOutCode},</if>
			<if test="stockOutItemId!=null">stockout_item_id=#{stockOutItemId},</if>
			<if test="orderCode!=null">order_code=#{orderCode},</if>
			<if test="remark!=null">remark=#{remark}</if>
		</set>
  	     where stockout_item_id in
  	     <foreach item="item" index="index" collection="stockOutItemIds" open="(" separator="," close=")">
	 	 	#{item}
	 	 </foreach>
  	</update>
  	
	<!-- 清空指定SKU的个体发货信息 -->
	<update id="clearIndivDeliveryInfo" parameterType="map">
  		update wms_indiv
  		   set stock_status='2',out_id='',out_code='',order_id='',order_code=''
  	     where out_id=#{outId}
  	       and sku_id=#{skuId}
  	       and stock_status='3' 
  	</update>
  	
  	<!-- 清空指定订单的个体发货信息 -->
	<update id="clearIndivDeliveryInfoByOutId" parameterType="long">
  		update wms_indiv
  		   set stock_status='2',out_id='',out_code='',order_code=''
  	     where out_id=#{outId}
  	       and stock_status='3' 
  	</update>
  	
  	<!-- 批量添加个体发货信息 -->
  	<update id="addIndivDeliveryInfo" parameterType="map">
  		update wms_indiv
  		   set stock_status='3',out_id=#{outId},out_code=#{outCode},order_id=#{orderId},order_code=#{orderCode}
  	     where sku_id=#{skuId}
  	       and stock_status='2'
  	       and indiv_code in
  	       <foreach item="item" index="index" collection="indivCodes" open="(" separator="," close=")">
	 	 	 #{item}
	 	   </foreach> 
  	</update>
  	
  	<!-- 批量删除商品个体 -->
  	<delete id="deleteIndivsByCodes" parameterType="list">
  		delete from wms_indiv
  	     where indiv_code in
  	       <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	 	 	 #{item}
	 	   </foreach> 
  	</delete>
  	
  	<!-- 更新商品个体 -->
	<update id="updateIndivsByInId" parameterType="map">
		update wms_indiv
		<set>
			<if test="stockStatus!=null">stock_status=#{stockStatus},</if>
			<if test="inTime!=null">in_time=#{inTime},</if>
		</set>
		where in_id=#{inId}
	</update>
  	
  	<!-- ============商品个体流转信息==================== -->
  	<sql id="flowSelectBasic">
  		select t1.id               as id,
  			   t1.indiv_code       as indivCode,
  			   t1.sku_id           as skuId,
  			   t1.sku_name         as skuName,
  			   t1.sku_code         as skuCode,
  			   t1.warehouse_id     as warehouseId,
  			   t1.warehouse_name   as warehouseName,
  			   t1.measure_unit     as measureUnit,
  			   t1.product_batchno  as productBatchNo,
  			   t1.flow_type        as flowType,
  			   t1.flow_id          as flowId,
  			   t1.flow_time        as flowTime,
  			   t1.flow_code        as flowCode,
  			   t1.flow_goods_id    as flowGoodsId,
  			   t1.wares_status     as waresStatus,
  			   t1.enabled          as enabled
  	</sql>
  	
	<!-- 获取商品个体流水列表. -->
	<select id="queryIndivFlowByPage" parameterType="map" resultType="IndivFlow">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
  	  			    <include refid="flowSelectBasic"/>
					  from wms_indiv_flow t1
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="flowType != null">and t1.flow_type=#{flowType}</if>
				   		<if test="indivCode != null">and t1.indiv_code=#{indivCode}</if>
				   		<if test="skuId != null">and t1.sku_id=#{skuId}</if>
				   		<if test="waresStatus != null">and t1.wares_status=#{waresStatus}</if>
				   		<if test="flowItemId != null">and t1.flow_goods_id=#{flowItemId}</if>
				   		<if test="flowCode != null">and t1.flow_code=#{flowCode}</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 查询商品个体列表总数-->
	<select id="queryIndivFlowListTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_indiv_flow t1
		  join wms_sku t2
		    on t1.sku_id = t2.id
	 left join wms_warehouse t4
		    on t1.warehouse_code = t4.warehouse_code
	   <where>
	   		<if test="id != null">t1.id=#{id}</if>
	   		<if test="flowType != null">and t1.flow_type=#{flowType}</if>
	   		<if test="indivCode != null">and t1.indiv_code=#{indivCode}</if>
	   		<if test="skuId != null">and t1.sku_id=#{skuId}</if>
	   		<if test="waresStatus != null">and t1.wares_status=#{waresStatus}</if>
	   		<if test="flowItemId != null">and t1.flow_goods_id=#{flowItemId}</if>
	   		<if test="flowCode != null">and t1.flow_code=#{flowCode}</if>
	   </where> 
	</select>
	
	<select id="queryIndivFlowList" parameterType="map" resultType="IndivFlow">
		<include refid="flowSelectBasic"/>
			  from wms_indiv_flow t1
		   <where>
		   		<if test="id != null">t1.id=#{id}</if>
		   		<if test="flowType != null">and t1.flow_type=#{flowType}</if>
		   		<if test="flowId != null">and t1.flow_id=#{flowId}</if>
		   		<if test="flowCode != null">and t1.flow_code=#{flowCode}</if>
		   		<if test="flowItemId != null">and t1.flow_goods_id=#{flowItemId}</if>
		   		<if test="indivCode != null">and t1.indiv_code=#{indivCode}</if>
		   		<if test="skuId != null">and t1.sku_id=#{skuId}</if>
		   		<if test="waresStatus != null">and t1.wares_status=#{waresStatus}</if>
		   </where> 
	</select>
	
  	<!-- 批量添加个体流转信息  sql语句形成ID-->
	<insert id="addIndivFlows" parameterType="list">
 		insert into wms_indiv_flow(id, indiv_code, sku_id,sku_code,sku_name,warehouse_id,warehouse_name,flow_type,flow_id,flow_code,flow_goods_id,flow_time,wares_status,measure_unit,product_batchno,enabled,remark，case_code)
		select WMS_SEQ_COMMON.nextval,A.* from(
		<foreach item="item" collection="list" index="index" separator="UNION ALL">
		   select #{item.indivCode, jdbcType=VARCHAR},
		   		  #{item.skuId, jdbcType=VARCHAR},
		   		  #{item.skuCode, jdbcType=VARCHAR},
		   		  #{item.skuName, jdbcType=VARCHAR},
		   		  #{item.warehouseId, jdbcType=VARCHAR},
		   		  #{item.warehouseName, jdbcType=VARCHAR},
		   		  #{item.flowType, jdbcType=VARCHAR},
		   		  #{item.flowId, jdbcType=VARCHAR},
		   		  #{item.flowCode, jdbcType=VARCHAR},
		   		  #{item.flowGoodsId, jdbcType=VARCHAR},
		   		  #{item.flowTime, jdbcType=VARCHAR},
		   		  #{item.waresStatus, jdbcType=VARCHAR},
		   		  #{item.measureUnit, jdbcType=VARCHAR},
		   		  #{item.productBatchNo, jdbcType=VARCHAR},
		   		  #{item.enabled, jdbcType=VARCHAR},
		   		  #{item.remark, jdbcType=VARCHAR},
		   		  #{item.caseCode, jdbcType=VARCHAR}
		    from dual
		</foreach>
		  )A
	</insert>
	<!-- 删除与指定流转单明细项相关联的商品个体流转信息 -->
	<delete id="deleteIndivFlowsByFlowGoodsId" parameterType="map">
		delete from wms_indiv_flow 
	 	 where flow_type = #{flowType}
	 	   and flow_goods_id = #{flowGoodsId}
	</delete>
	
  	<!-- 批量删除与指定流转单明细项相关联的商品个体流转信息
	<delete id="deleteIndivFlowsByFlowItemIds" parameterType="list">
		delete from wms_indiv_flow 
	 	 where flow_type = #{flowType} 
	 	   and flow_goods_id in
	 	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	 	 	#{item}
	 	 </foreach>
	</delete> -->
	
	<!-- 删除与指定流转单相关联的商品个体流转信息 -->
	<delete id="deleteIndivFlowsByFlowCode" parameterType="map">
		delete from wms_indiv_flow 
	 	 where flow_type = #{flowType}
	 	   and flow_code = #{flowCode}
	</delete>
	
	<!-- 根据流转单ID删除商品个体流转信息 -->
	<delete id="deleteIndivFlowsByFlowId" parameterType="map">
		delete from wms_indiv_flow 
	 	 where flow_type = #{flowType}
	 	   and flow_id = #{flowId}
	</delete>
	
	<!-- 更新与指定流转单编号相关联的商品个体流转信息 -->
	<update id="updateIndivFlowsByFlowCode" parameterType="map">
		update wms_indiv_flow
		<set>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="warehouseCode!=null">warehouse_code=#{warehouseCode},</if>
			<if test="flowTime!=null">flow_time=#{flowTime},</if>
		</set>
		where flow_type = #{flowType}
	 	   and flow_code = #{flowCode}
	</update>
	
	<!-- 批量更新商品个体流转确认信息 -->
	<update id="updateIndivsFlowConfirmInfo" parameterType="map">
  		update wms_indiv_flow t1
		   set t1.enabled = 1, t1.flow_time=#{flowTime}
		 where t1.flow_type = #{flowType}
		   and exists (select 1
		          from wms_delivery
		         where id = t1.flow_id
		           and batch_id = #{batchId})
	</update>
	
	<!-- 批量删除商品个体流转信息 -->
  	<delete id="deleteIndivFlowsByCodes" parameterType="list">
  		delete from wms_indiv_flow
  	     where indiv_code in
  	       <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	 	 	 #{item}
	 	   </foreach> 
  	</delete>
  	
  	<!-- 更新与指定流转单编号相关联的商品个体流转信息 -->
	<update id="updateIndivFlowsByFlowId" parameterType="map">
		update wms_indiv_flow
		<set>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="flowTime!=null">flow_time=#{flowTime},</if>
		</set>
		where flow_type = #{flowType}
	 	  and flow_id = #{flowId}
	</update>
	
	<select id="queryIndivByCode" resultType="Indiv" parameterType="string">
	     select <include refid="sql_indivColumns"/>
	     <![CDATA[from wms_indiv t1 where t1.indiv_code=#{va} and rownum<2]]>
	</select>
	
	<sql id="indiv_set">
	    <set>
	        <if test="outId!=null">out_id=#{outId},</if>
			<if test="outCode!=null">out_code=#{outCode},</if>
			<if test="outTime!=null">out_time=#{outTime, jdbcType=TIMESTAMP},</if>
			<if test="orderId!=null">order_id=#{orderId},</if>
			<if test="orderCode!=null">order_code=#{orderCode},</if>
	        stock_status = #{stockStatus}
	    </set>
	</sql>
	
	<!-- 批量更新商品个体的库存信息 -->
	<update id="batchUpdateIndivsStock" parameterType="map">
  		update wms_indiv
  		<include refid="indiv_set"/>
  	      where indiv_code in
		 <foreach item="item" index="index" collection="indivCodes" open="(" separator="," close=")">
		 	 	#{item.indivCode}
		 </foreach>
  	</update>
	
	<!-- 按出库id更新个体库存信息 -->
	<update id="updateIndivStatusByOutId" parameterType="map">
	    update wms_indiv
	    <include refid="indiv_set"/>
	    where out_id=#{outId}
	</update>
	<!-- 按个体更新indiv -->
	<update id="updateIndivPrepare" parameterType="map">
	    update wms_indiv set prepare_id=#{prepareId, jdbcType=VARCHAR}, prepare_code=#{prepareCode, jdbcType=VARCHAR}, stock_status=#{stockStatus, jdbcType=VARCHAR}
	    where id=#{id}
	</update>
	<!-- 按批量更新indiv -->
	<update id="updateIndivsPrepare" parameterType="map">
	    update wms_indiv set prepare_id=#{prepareId, jdbcType=VARCHAR}, prepare_code=#{prepareCode, jdbcType=VARCHAR}, stock_status=#{stockStatus, jdbcType=VARCHAR}
	    where id in 
	    <foreach item="item" index="index" collection="indivList" open="(" separator="," close=")">
		 	 	#{item.id}
		 </foreach>
	</update>
	<update id="updatePrepareToDly" parameterType="map">
	    update wms_indiv
	    <include refid="indiv_set"/>
	    where prepare_id=#{prepareId}
	</update>
	
	<update id="updateTransferCancel" parameterType="map">
	    update wms_indiv set stock_status=#{stockStatus}, prepare_id = null where prepare_id=#{prepareId}
	</update>
	
	<!--根据个体箱号. -->
	<select id="queryIndivListByCaseCode" parameterType="string" resultType="Indiv">
		select <include refid="sql_indivColumns"/>
		  from wms_indiv t1 
		 where t1.case_code=#{caseCode}
	</select>
 </mapper>