<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.ManualReissueOrderDao">

  <sql id="columns">
    ID, PLATFORM, ORDER_CODE, NEW_ORDER_CODE, INVOICE, BILL_TYPE, REMARK, EXTENSION, STATUS, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, ORDER_JSON
  </sql>
  
  <resultMap type="map" id="resultMap">
    <result property="id" column="ID" />
    <result property="platform" column="PLATFORM" />
    <result property="orderCode" column="ORDER_CODE" />
    <result property="newOrderCode" column="NEW_ORDER_CODE" />
    <result property="invoice" column="INVOICE" />
    <result property="billType" column="BILL_TYPE" />
    <result property="remark" column="REMARK" />
    <result property="extension" column="EXTENSION" />
    <result property="status" column="STATUS" />
    <result property="createTime" column="CREATE_TIME" javaType="java.util.Date" />
    <result property="createBy" column="CREATE_BY" />
    <result property="updateTime" column="UPDATE_TIME" javaType="java.util.Date" />
    <result property="updateBy" column="UPDATE_BY" />
    
    <result property="orderAmount" column="ORDER_AMOUNT" javaType="java.math.BigDecimal" />
    <result property="paymentName" column="PAYMENT_NAME" />
    <result property="consignee" column="CONSIGNEE" />
    <result property="mobile" column="MOBILE" />
    <result property="province" column="PROVINCE" />
    <result property="city" column="CITY" />
    <result property="district" column="DISTRICT" />
    <result property="address" column="ADDRESS" />

    <result property="skuCode" column="SKU_CODE" />
    <result property="skuName" column="SKU_Name" />
    <result property="qty" column="QTY" />
    <result property="orderJson" column="ORDER_JSON" />
  </resultMap>
  
  <resultMap type="com.gionee.wms.entity.ManualReissueOrder" id="result">
    <id property="id" column="id" />
    <result property="platform" column="PLATFORM" />
    <result property="orderCode" column="ORDER_CODE" />
    <result property="newOrderCode" column="NEW_ORDER_CODE" />
    <result property="invoice" column="INVOICE" />
    <result property="billType" column="BILL_TYPE" />
    <result property="remark" column="REMARK" />
    <result property="extension" column="EXTENSION" />
    <result property="status" column="STATUS" />
    <result property="createTime" column="CREATE_TIME" />
    <result property="createBy" column="CREATE_BY" />
    <result property="updateTime" column="UPDATE_TIME" />
    <result property="updateBy" column="UPDATE_BY" />
  </resultMap>

  <insert id="add" parameterType="ManualReissueOrder">
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
      select WMS_SEQ_MANUAL_REISSUE_ORDER.nextval from dual
    </selectKey>
    insert into WMS_MANUAL_REISSUE_ORDER(<include refid="columns" />) values
    (
      #{id},
      #{platform, jdbcType=NUMERIC},
      #{orderCode, jdbcType=VARCHAR},
      #{newOrderCode, jdbcType=VARCHAR},
      #{invoice, jdbcType=NUMERIC},
      #{billType, jdbcType=VARCHAR},
      #{remark, jdbcType=VARCHAR},
      #{extension, jdbcType=VARCHAR},
      #{status, jdbcType=NUMERIC},
      SYSDATE,
      #{createBy, jdbcType=VARCHAR},
      #{updateTime, jdbcType=TIMESTAMP},
      #{updateBy, jdbcType=VARCHAR},
      #{orderJson , jdbcType=VARCHAR}
    )
  </insert>
  
  <insert id="addGoods" parameterType="list">
    insert into WMS_MANUAL_REISSUE_ORDER_GOODS(ID, MANUAL_REISSUE_ORDER_ID, SKU_CODE, SKU_NAME, QTY)
    select WMS_SEQ_MANUAL_REISSUE_ORDER.nextval C0, A.* from
    (
      <foreach item="item" collection="list" index="index" separator="UNION ALL">
        select 
        #{item.manualReissueOrderId} C1,
        #{item.skuCode} C2,
        #{item.skuName} C3,
        #{item.qty} C4
        from dual
      </foreach>
    ) A
  </insert>
  
  <update id="update" parameterType="ManualReissueOrder">
    update WMS_MANUAL_REISSUE_ORDER
    <set>
      <if test="newOrderCode != null">new_order_code = #{newOrderCode, jdbcType=VARCHAR},</if>
      <if test="platform != null">platform = #{platform, jdbcType=NUMERIC},</if>
      <if test="invoice != null">invoice = #{invoice, jdbcType=NUMERIC},</if>
      <if test="billType != null">bill_Type = #{billType, jdbcType=VARCHAR},</if>
      <if test="remark != null">remark = #{remark, jdbcType=VARCHAR},</if>
      <if test="extension != null">extension = #{extension, jdbcType=VARCHAR},</if>
      <if test="status != null">status = #{status, jdbcType=NUMERIC},</if>
      <if test="updateBy != null">UPDATE_BY = #{updateBy, jdbcType=VARCHAR},</if>
      <if test="orderJson != null">ORDER_JSON = #{orderJson, jdbcType=VARCHAR},</if>
      UPDATE_TIME = sysdate
    </set>
    where id = #{id}
  </update>
  
  <delete id="delete" parameterType="long">
    delete from WMS_MANUAL_REISSUE_ORDER where id = #{_parameter}
  </delete>
  
  <delete id="deleteGoods" parameterType="long">
    delete from WMS_MANUAL_REISSUE_ORDER_GOODS where MANUAL_REISSUE_ORDER_ID = #{_paramater}
  </delete>
  
  <sql id="query-where">
    <where>
      <if test="platform != null">
        and T1.PLATFORM = #{platform}
      </if>
      <if test="orderCode != null">
        and T1.ORDER_CODE = #{orderCode}
      </if>
      <if test="newOrderCode != null">
        and T1.NEW_ORDER_CODE = #{newOrderCode}
      </if>
      <if test="invoice != null">
        and T1.INVOICE = #{invoice}
      </if>
      <if test="billType != null">
        and T1.BILL_TYPE = #{billType}
      </if>
      <if test="createTimeBegin != null">
        AND T1.CREATE_TIME &gt;= #{createTimeBegin}
      </if>
      <if test="createTimeEnd != null">
        AND T1.CREATE_TIME &lt;= #{createTimeEnd}
      </if>
      <if test="status != null">
        and T1.STATUS = #{status}
      </if>
      <if test="paymentName != null">
        and T2.PAYMENT_NAME = #{paymentName}
      </if>
      <if test="consignee != null">
        and T2.CONSIGNEE = #{consignee}
      </if>
      <if test="mobile != null">
        and T2.MOBILE = #{mobile}
      </if>
      <if test="sku != null">
        and T3.SKU_CODE = #{sku}
      </if>
    </where>
  </sql>
  
  <select id="get" parameterType="map" resultMap="resultMap">
    SELECT
    	T1.ID,
    	T1.PLATFORM,
    	T1.ORDER_CODE,
    	T1.NEW_ORDER_CODE,
    	T1.INVOICE,
    	T1.BILL_TYPE,
    	T1.REMARK,
    	T1.EXTENSION,
    	T1.STATUS,
    	T1.CREATE_TIME,
    	T1.CREATE_BY,
    	T1.UPDATE_TIME,
    	T1.UPDATE_BY,
    	T2.ORDER_AMOUNT,
    	T2.PAYMENT_NAME,
    	T2.CONSIGNEE,
    	T2.MOBILE,
    	T1.ORDER_JSON
    FROM
    	WMS_MANUAL_REISSUE_ORDER T1
    LEFT JOIN WMS_SALES_ORDER T2 ON T1.ORDER_CODE = T2.ORDER_CODE
    WHERE T1.ID = #{_paramater}
  </select>
  
  <select id="query" parameterType="map" resultMap="resultMap">
    SELECT * FROM (
    	SELECT A.*, ROWNUM r FROM (
          SELECT
          	T1.ID,
          	T1.PLATFORM,
          	T1.ORDER_CODE,
            T1.NEW_ORDER_CODE,
          	T1.INVOICE,
          	T1.BILL_TYPE,
          	T1.REMARK,
          	T1.EXTENSION,
          	T1.STATUS,
          	T1.CREATE_TIME,
          	T1.CREATE_BY,
          	T1.UPDATE_TIME,
          	T1.UPDATE_BY,
          	T2.ORDER_AMOUNT,
          	T2.PAYMENT_NAME,
          	T2.CONSIGNEE,
          	T2.MOBILE
          FROM
          	WMS_MANUAL_REISSUE_ORDER T1
          LEFT JOIN WMS_SALES_ORDER T2 ON T1.ORDER_CODE = T2.ORDER_CODE
          <if test="sku != null">
              LEFT JOIN WMS_MANUAL_REISSUE_ORDER_GOODS T3 ON T1.ID = T3.MANUAL_REISSUE_ORDER_ID
          </if>
          <include refid="query-where" />
          order by id desc
	   ) A WHERE rownum &lt;= #{page.endRow}
    ) WHERE r &gt;= #{page.startRow}
  </select>
  
  <select id="queryCount" parameterType="map" resultType="int">
    SELECT
    	COUNT(1)
    FROM
    	WMS_MANUAL_REISSUE_ORDER T1
    LEFT JOIN WMS_SALES_ORDER T2 ON T1.ORDER_CODE = T2.ORDER_CODE
    <if test="sku != null">
        LEFT JOIN WMS_MANUAL_REISSUE_ORDER_GOODS T3 ON T1.ID = T3.MANUAL_REISSUE_ORDER_ID
    </if>
    <include refid="query-where" />
  </select>
  
  <select id="queryForExport" parameterType="map" resultMap="resultMap">
    SELECT
    	T1. ID,
    	T1.PLATFORM,
    	T1.ORDER_CODE,
    	T1.NEW_ORDER_CODE,
    	T1.INVOICE,
    	T1.BILL_TYPE,
    	T1.REMARK,
    	T1.EXTENSION,
    	T1.STATUS,
    	T1.CREATE_TIME,
    	T1.CREATE_BY,
    	T1.UPDATE_TIME,
    	T1.UPDATE_BY,
    	T2.ORDER_AMOUNT,
    	T2.PAYMENT_NAME,
    	T2.CONSIGNEE,
    	T2.MOBILE,
    	T2.PROVINCE,
    	T2.CITY,
    	T2.DISTRICT,
    	T2.ADDRESS,
    	T3.SKU_CODE,
    	T3.SKU_NAME,
    	T3.QTY
    FROM
    	WMS_MANUAL_REISSUE_ORDER T1
    LEFT JOIN WMS_SALES_ORDER T2 ON T1.ORDER_CODE = T2.ORDER_CODE
    LEFT JOIN WMS_MANUAL_REISSUE_ORDER_GOODS T3 ON T1.ID = T3.MANUAL_REISSUE_ORDER_ID
    <include refid="query-where" />
    ORDER BY T1.ID DESC
  </select>
  
  <select id="queryGoods" parameterType="long" resultType="ManualReissueOrderGoods">
    SELECT
    	ID,
    	MANUAL_REISSUE_ORDER_ID manualReissueOrderId,
    	SKU_CODE skuCode,
    	SKU_NAME skuName,
    	QTY qty
    FROM
    	WMS_MANUAL_REISSUE_ORDER_GOODS WG
    WHERE MANUAL_REISSUE_ORDER_ID = #{_paramater}
  </select>

</mapper>