<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.PurPreRecvDao" >
	
	<sql id="preRecvSelectBasic">
		select t1.id                as id,
			   t1.prerecv_code      as preRecvCode,
			   t1.purchase_code     as purchaseCode,
			   t1.pur_prepared_time as purPreparedTime,
			   t1.pur_prepared_by   as purPreparedBy,
			   t1.posting_no        as postingNo,
		       t1.warehouse_id      as warehouseId,
		       t1.warehouse_name    as warehouseName,
		       t1.supplier_id       as supplierId,
		       t1.supplier_name     as supplierName,
		       t1.prepared_by       as preparedBy,
		       t1.prepared_time     as preparedTime,
		       t1.handling_status   as handlingStatus,
		       t1.handled_time      as handledTime,
		       t1.handled_by        as handledBy,
		       t1.receive_id        as receiveId,
		       t1.receive_code      as receiveCode,
		       t1.remark            as remark
	</sql>
	
	<!-- 分页查询采购预收单列表. -->
	<select id="queryPreRecvByPage" parameterType="map" resultType="PurPreRecv">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		<include refid="preRecvSelectBasic"/>
					  from wms_pur_prerecv t1
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="preRecvCode != null">and t1.prerecv_code=#{preRecvCode}</if>
				   		<if test="postingNo != null">and t1.posting_no=#{postingNo}</if>
				   		<if test="purchaseCode != null">and t1.purchase_code=#{purchaseCode}</if>
				   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
				   		<if test="supplierId != null">and t1.supplier_id=#{supplierId}</if>
				   		<if test="handlingStatus != null">and t1.handling_status=#{handlingStatus}</if>
				   		<if test="preparedTimeBegin != null">and t1.prepared_time<![CDATA[>=]]>#{preparedTimeBegin}</if>
				   		<if test="preparedTimeEnd != null">and t1.prepared_time<![CDATA[<=]]>#{preparedTimeEnd}</if>
				   </where>
				   order by t1.prepared_time desc 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 查询采购预收单总数-->
	<select id="queryPreRecvTotal" parameterType="map"  resultType="int">
		select count(1) as total
			from wms_pur_prerecv t1
		   <where>
		   		<if test="id != null">t1.id=#{id}</if>
		   		<if test="preRecvCode != null">and t1.prerecv_code=#{preRecvCode}</if>
		   		<if test="postingNo != null">and t1.posting_no=#{postingNo}</if>
		   		<if test="purchaseCode != null">and t1.purchase_code=#{purchaseCode}</if>
		   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
		   		<if test="supplierId != null">and t1.supplier_id=#{supplierId}</if>
		   		<if test="handlingStatus != null">and t1.handling_status=#{handlingStatus}</if>
		   		<if test="preparedTimeBegin != null">and t1.prepared_time<![CDATA[>=]]>#{preparedTimeBegin}</if>
		   		<if test="preparedTimeEnd != null">and t1.prepared_time<![CDATA[<=]]>#{preparedTimeEnd}</if>
		   </where>  
	</select>
	
	<!-- 根据ID获取采购单 -->
	<select id="queryPurPreRecv" parameterType="long" resultType="PurPreRecv">
		<include refid="preRecvSelectBasic"/>
		  from wms_pur_prerecv t1
		 where t1.id=#{id}
	</select>
	
	<!-- 根据过账凭证号获取采购预收单 -->
	<select id="queryPurPreRecvByPostingNo" parameterType="string" resultType="PurPreRecv">
		<include refid="preRecvSelectBasic"/>
		  from wms_pur_prerecv t1
		 where t1.posting_no=#{postingNo}
	</select>
	
	<!-- 根据收货单ID获取采购预收单-->
	<select id="queryPurPreRecvByReceiveId" parameterType="long" resultType="PurPreRecv">
		<include refid="preRecvSelectBasic"/>
		  from wms_pur_prerecv t1
		 where t1.receive_id=#{receiveId}
	</select>
	
	<!-- 添加采购单 -->
	<insert id="addPreRecv" parameterType="PurPreRecv">
 		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_pur_prerecv
		  (id,
		   prerecv_code,
		   posting_no,
		   purchase_code,
		   pur_prepared_time,
		   pur_prepared_by,
		   warehouse_id,
		   warehouse_name,
		   supplier_id,
		   supplier_name,
		   prepared_time,
		   prepared_by,
		   handling_status,
		   handled_time,
		   handled_by,
		   remark)
		values
		  (#{id},
		   #{preRecvCode},
		   #{postingNo},
		   #{purchaseCode},
		   #{purPreparedTime},
		   #{purPreparedBy},
		   #{warehouseId},
		   #{warehouseName},
		   #{supplierId},
		   #{supplierName},
		   #{preparedTime},
		   #{preparedBy},
		   #{handlingStatus},
		   #{handledTime, jdbcType=DATE},
		   #{handledBy, jdbcType=VARCHAR},
		   #{remark, jdbcType=VARCHAR})
	</insert>
	
	<!-- 更新采购预收单 -->
	<update id="updatePurPreRecv" parameterType="PurPreRecv">
  		update wms_pur_prerecv
  		<set>
			<if test="handlingStatus!=null">handling_status=#{handlingStatus},</if>
			<if test="handledTime!=null">handled_time=#{handledTime},</if>
			<if test="handledBy!=null">handled_by=#{handledBy},</if>
			<if test="receiveId!=null">receive_id=#{receiveId},</if>
			<if test="receiveCode!=null">receive_code=#{receiveCode},</if>
		</set>
  	     where id = #{id}
  	</update>
	
	<!-- ==============采购商品========================== -->
	
	<!-- 添加采购商品清单 -->
	<insert id="addGoodsList" parameterType="list">
	 	insert into wms_pur_prerecv_goods
 		   (id,prerecv_id,sku_id,sku_code,sku_name,quantity,measure_unit,product_batchno,indiv_enabled,case_code)
		select WMS_SEQ_COMMON.nextval,A.* from(
		<foreach item="item" collection="list" index="index" separator="UNION ALL">
		   select #{item.purPreRecv.id},#{item.skuId},#{item.skuCode},#{item.skuName},#{item.quantity},#{item.measureUnit},#{item.productBatchNo, jdbcType=VARCHAR},#{item.indivEnabled},#{item.caseCode} from dual
		</foreach>
		  )A
	</insert>
	
	<!-- 根据采购预收单ID取预收商品清单 -->
	<select id="queryGoodsListByPreRecvId" parameterType="int" resultType="PurPreRecvGoods">
		select t1.id              as id,
		       t1.sku_id          as skuId,
		       t1.sku_code        as skuCode,
		       t1.sku_name        as skuName,
		       t1.quantity        as quantity,
		       t1.measure_unit    as measureUnit,
		       t1.product_batchno as productBatchNo,
		       t1.indiv_enabled   as indivEnabled,
		       t1.prerecv_id      as "purPreRecv.id",
		       t2.prerecv_code    as "purPreRecv.preRecvCode",
		       t2.purchase_code   as "purPreRecv.purchaseCode",
		       t2.posting_no      as "purPreRecv.postingNo",
		       t2.warehouse_id    as "purPreRecv.warehouseId",
		       t2.warehouse_name  as "purPreRecv.warehouseName",
		       t2.handling_status as "purPreRecv.handlingStatus"
		  from wms_pur_prerecv_goods t1
		  join wms_pur_prerecv t2
		    on t1.prerecv_id=t2.id
	     where t1.prerecv_id=#{purchaseId}
	</select>
 </mapper>