<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gionee.wms.dao.SalesOrderPushInfoDao">

    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select
            WMS_SEQ_COMMON.nextval from dual
        </selectKey>
        INSERT INTO WMS_SALES_ORDER_PUSH_INFO
        (
            ID,
            ORDER_CODE,
            PUSH_DATE,
            "CONTENT"
        )
        VALUES (
            #{id, jdbcType=NUMERIC},
            #{orderCode, jdbcType=VARCHAR},
            #{pushDate, jdbcType=TIMESTAMP},
            #{content, jdbcType=VARCHAR}
        )
    </insert>

</mapper>