<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.SalesOrderLogDao" >
  <resultMap id="BaseResultMap" type="com.gionee.wms.entity.SalesOrderLog" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="INTEGER" />
    <result column="OP_USER" property="opUser" jdbcType="VARCHAR" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, ORDER_STATUS, OP_USER, OP_TIME, REMARK
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WMS_SALES_ORDER_LOG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectSalesOrderLogsByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from WMS_SALES_ORDER_LOG
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
    order by OP_TIME
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WMS_SALES_ORDER_LOG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 批量添加日志 -->
  <insert id="batchInsertSalesOrderLog" parameterType="map">
    insert into WMS_SALES_ORDER_LOG (ID, ORDER_ID, ORDER_STATUS, OP_USER, OP_TIME, REMARK)
		select WMS_SEQ_COMMON.nextval,A.* from
		 (
		<foreach item="orderId" collection="orderIds" index="index" separator="UNION ALL">
		   select #{orderId,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, #{opUser,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR} from dual
		</foreach>
		  )A
  </insert>
	
  <insert id="insert" parameterType="com.gionee.wms.entity.SalesOrderLog" >
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
	  select  WMS_SEQ_COMMON.nextval from dual
    </selectKey>
    insert into WMS_SALES_ORDER_LOG (ID, ORDER_ID, ORDER_STATUS, 
      OP_USER, OP_TIME, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, 
      #{opUser,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSalesOrderLog" parameterType="com.gionee.wms.entity.SalesOrderLog" >
  	<selectKey keyProperty="id" resultType="long" order="BEFORE">
	  select  WMS_SEQ_COMMON.nextval from dual
    </selectKey>
    insert into WMS_SALES_ORDER_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="opUser != null" >
        OP_USER,
      </if>
      <if test="opTime != null" >
        OP_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=INTEGER},
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="opUser != null" >
        #{opUser,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.gionee.wms.entity.SalesOrderLog" >
    update WMS_SALES_ORDER_LOG
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="opUser != null" >
        OP_USER = #{opUser,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        OP_TIME = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.gionee.wms.entity.SalesOrderLog" >
    update WMS_SALES_ORDER_LOG
    set ORDER_ID = #{orderId,jdbcType=INTEGER},
      ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      OP_USER = #{opUser,jdbcType=VARCHAR},
      OP_TIME = #{opTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>