<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.ShippingInfoDao" >
    
    <sql id="shippingInfoField">
		t1.id as id,
 		t1.push_status as pushStatus,
	   	t1.push_message as pushMessage,
	   	t1.state as state,
	   	t1.order_code as orderCode,
	   	t1.data as data,
	   	t1.subscribe_result as subscribeResult,
	   	t1.subscribe_time as subscribeTime,
	   	t1.subscribe_count as subscribeCount,
	   	t1.is_check as isCheck,
	   	t1.from_addr as fromAddr,
	   	t1.to_addr as toAddr,
	   	t1.return_code as returnCode,
	   	t1.last_push_time as lastPushTime,
	   	t1.shipping_no as shippingNo,
	   	t2.company_code as company
    </sql>
    
    <sql id="whereCondition">
        <if test="company!=null and company!=''"> t2.company_code=#{company}</if>
        <if test="shippingNo!=null and shippingNo!=''"> and t1.shipping_no=#{shippingNo}</if>
        <if test="orderCode!=null and orderCode!=''">and t1.order_code=#{orderCode}</if>
    </sql>
    
    <select id="queryShippingInfoByPage" parameterType="map" resultType="ShippingInfo">
        SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  	select <include refid="shippingInfoField"/> from wms_shipping_info t1 
		  	  	left join wms_shipping t2 on t1.shipping_id=t2.id
		  	  	<where><include refid="whereCondition"/></where>
		  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
    </select>
    
    <select id="queryShippingInfoTotal" parameterType="map"  resultType="int">
        select count(1) as total from wms_shipping_info t1 left join wms_shipping t2 on t1.shipping_id=t2.id <where><include refid="whereCondition"/></where>
    </select>

	<!-- 根据条件获取shippingInfo -->
	<select id="getShippingInfo" resultType="ShippingInfo" parameterType="ShippingInfo">
	    select <include refid="shippingInfoField"/> from wms_shipping_info t1 left join wms_shipping t2 on t1.shipping_id=t2.id
	    where (t2.company_code=#{company} or t2.shipping_code=#{company}) and t1.shipping_no=#{shippingNo}
	    <![CDATA[and rownum<2]]>
	</select>
	
	<select id="getShippingInfoById" resultType="ShippingInfo" parameterType="Long">
	    select <include refid="shippingInfoField"/> from wms_shipping_info t1 left join wms_shipping t2 on t1.shipping_id=t2.id where t1.id=#{va}
	</select>
	
	<!-- 获取需要订阅的快递信息列表 -->
	<select id="getShippingInfoNeedToSub" resultType="ShippingInfo">
	    select <include refid="shippingInfoField"/> from wms_shipping_info t1 left join wms_shipping t2 on t1.shipping_id=t2.id where <![CDATA[t1.subscribe_result='0' or t1.subscribe_result is null or (t1.subscribe_result='500' and t1.subscribe_count<10)]]>
	</select>
	
	<!-- 插入一条新的订阅记录 -->
	<insert id="addShippingInfo" parameterType="ShippingInfo">
	    insert into wms_shipping_info(
	    	id, 
	    	push_status, 
	    	push_message, 
	    	state, 
	    	order_code, 
	    	data, 
	    	shipping_id, 
	    	subscribe_result, 
	    	subscribe_time, 
	    	subscribe_count, 
	    	is_check, 
	    	from_addr, 
	    	to_addr, 
	    	return_code, 
	    	last_push_time, 
	    	shipping_no)
	    values(
	    	WMS_SEQ_COMMON.nextval,
	    	#{pushStatus, jdbcType=VARCHAR}, 
	    	#{pushMessage, jdbcType=VARCHAR}, 
	    	#{state, jdbcType=VARCHAR}, 
	    	#{orderCode, jdbcType=VARCHAR}, 
	    	#{data, jdbcType=CLOB}, 
	    	#{shippingId, jdbcType=VARCHAR}, 
	    	'0', 
	    	#{subscribeTime, jdbcType=TIME}, 
	    	0, 
	    	#{isCheck, jdbcType=VARCHAR}, 
	    	#{fromAddr, jdbcType=VARCHAR}, 
	    	#{toAddr, jdbcType=VARCHAR},
	    	#{returnCode, jdbcType=VARCHAR},
	    	#{lastPushTime, jdbcType=TIME},
	    	#{shippingNo, jdbcType=VARCHAR}
	    )
	</insert>
	
	<update id="updateShippingInfo" parameterType="ShippingInfo">
	    update wms_shipping_info
	    set
	    push_status=#{pushStatus, jdbcType=VARCHAR}, 
	    push_message=#{pushMessage, jdbcType=VARCHAR}, 
	    state=#{state, jdbcType=VARCHAR}, 
	    order_code=#{orderCode, jdbcType=VARCHAR}, 
	    data=#{data, jdbcType=CLOB},
	    subscribe_result=#{subscribeResult, jdbcType=VARCHAR},
	    subscribe_time=#{subscribeTime, jdbcType=TIME},
	    subscribe_count=#{subscribeCount, jdbcType=VARCHAR},
	    is_check=#{isCheck, jdbcType=VARCHAR},
	    return_code=#{returnCode, jdbcType=VARCHAR},
	    last_push_time=#{lastPushTime, jdbcType=VARCHAR},
	    shipping_no=#{shippingNo, jdbcType=VARCHAR}
	    where id=#{id}
	</update>
 </mapper>