<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.StockOutDao" >
	
	<!-- 自定义出库单嵌套对象 -->
 	<resultMap id="stockOutMap" type="StockOut">
		<id property="id" column="stockout_id" />
		<result property="stockOutCode" column="stockout_code" />
		<result property="stockOutType" column="stockout_type" />
		<result property="originalCode" column="stockout_original_code"/>
		<result property="handledBy" column="stockout_handled_by"/>
		<result property="handledDate" column="stockout_handled_date"/>
		<result property="preparedBy" column="stockout_prepared_by"/>
		<result property="preparedTime" column="stockout_prepared_time"/>
		<result property="finishedTime" column="stockout_finished_time"/>
		<result property="remark" column="stockout_remark"/>
		<result property="handlingStatus" column="stockout_handling_status"/>
		<result property="enabled" column="stockout_enabled"/>
		<result property="warehouseCode" column="warehouse_code"/>
		<result property="warehouseName" column="warehouse_name"/>
	</resultMap>
	
	<!-- 出库单明细 -->
	<resultMap id="stockOutDetailMap" type="StockOutItem">
		<id property="id" column="detail_id" />
		<result property="originalCode" column="detail_original_code" />
		<result property="unitPrice" column="detail_unit_price" />
		<result property="quantity" column="detail_quantity"/>
		<result property="measureUnit" column="detail_measure_unit"/>
		<result property="subtotalPrice" column="detail_subtotal_price"/>
		<result property="remark" column="detail_remark"/>
		<result property="indivEnabled" column="detail_indiv_enabled"/>
		<result property="indivFinished" column="detail_indiv_finished"/>
		<result property="waresStatus" column="detail_wares_status"/>
		<association property="stockOut" javaType="StockOut">
			<id property="id" column="stockout_id" />
			<result property="stockOutCode" column="stockout_code" />
			<result property="handledBy" column="stockout_handled_by"/>
			<result property="handledDate" column="stockout_handled_date"/>
			<result property="preparedBy" column="stockout_prepared_by"/>
			<result property="preparedTime" column="stockout_prepared_time"/>
			<result property="finishedTime" column="stockout_finished_time"/>
			<result property="remark" column="stockout_remark"/>
			<result property="handlingStatus" column="stockout_handling_status"/>
			<result property="enabled" column="stockout_enabled"/>
			<association property="warehouse" column="warehouse_id" javaType="Warehouse">
				<id property="id" column="warehouse_id"/>
				<result property="warehouseCode" column="warehouse_code"/>
				<result property="warehouseName" column="warehouse_name"/>
			</association>
		</association>
		<association property="sku" column="sku_id" javaType="Sku">
			<id property="id" column="sku_id"/>
			<result property="skuCode" column="sku_code"/>
			<result property="skuName" column="sku_name"/>
			<result property="skuBarcode" column="sku_barcode"/>
		</association>
		<association property="salesOrder" column="order_id" javaType="SalesOrder">
			<id property="id" column="order_id"/>
			<result property="shippingStatus" column="order_shipping_status"/>
		</association>
	</resultMap>
	
	<!-- 获取销售订单出库明细列表. 
	<select id="querySalesOrderOutDetail" parameterType="map" resultMap="orderDetailMap">
		select t2.id                as detail_id,
		       t2.order_code        as detail_order_code,
		       t2.unit_price        as detail_unit_price,
		       t2.quantity          as detail_quantity,
		       t2.measure_unit      as detail_measure_unit,
		       t2.subtotal_price    as detail_subtotal_price,
		       t3.id                as sku_id,
		       t3.sku_code          as sku_code,
		       t3.sku_name          as sku_name
		  from wms_delivery_batch_detail t2
		  join wms_sku t3
		    on t2.sku_code=t3.sku_code
	   <where>
	   		<if test="orderCode != null">t2.order_code=#{orderCode}</if>
	   </where>
	</select>-->
	
	<!-- 添加出库单信息 -->
	<insert id="addStockOut" parameterType="StockOut">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_delivery_batch
		  (id,batch_code, batch_type, prepared_by,prepared_time,handling_status,enabled,warehouse_id,warehouse_name)
		values
		  (#{id},#{stockOutCode},#{stockOutType},#{preparedBy},#{preparedTime},#{handlingStatus},#{enabled},#{warehouseId},#{warehouseName})
	</insert>
	
	<!-- 批量加入销售订单到出库单 -->
	<update id="addSalesOrdersToStockOut" parameterType="map">
  		update wms_sales_order
		   set shipping_status=#{newShippingStatus}, stockout_code=#{stockOutCode}
  	     where shipping_status=#{currentShippingStatus} and stockout_code is null and order_code in
  	     <foreach item="item" index="index" collection="orderCodes" open="(" separator="," close=")">
	 	 	#{item}
	 	 </foreach>
  	</update>
  	
  	<!-- 同步销售订单明细到出库明细 
	<update id="copyOrderDetail" parameterType="map">
  		insert into wms_stock_out_detail(id,original_code,sku_code,unit_price,quantity,subtotal_price,measure_unit,indiv_enabled,indiv_finished,stockout_code,wares_status)
	    select WMS_SEQ_COMMON.NEXTVAL,t1.order_code,t1.sku_code,t1.unit_price,t1.quantity,t1.subtotal_price,t1.measure_unit,t3.indiv_enabled,'0',#{stockOutCode},'1'
	      from wms_order_detail t1, wms_sku t2, wms_wares t3
	     where t1.sku_code = t2.sku_code
     	   and t2.wares_id = t3.id
           and t1.order_code in 
  	     <foreach item="item" index="index" collection="orderCodes" open="(" separator="," close=")">
	 	 	#{item}
	 	 </foreach>
  	</update>-->
  	
  	<!-- 获取出库单列表. -->
	<select id="queryStockOutList" parameterType="map" resultMap="stockOutMap">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		select t1.id as stockout_id,
		  	  			   t1.batch_code as stockout_code,
			 			   t1.batch_type as stockout_type,
			 			   t1.original_code as stockout_original_code,
			 			   t1.handled_by as stockout_handled_by,
			 			   t1.handled_date as stockout_handled_date,
			 			   t1.prepared_by as stockout_prepared_by,
			 			   t1.prepared_time as stockout_prepared_time,
			 			   t1.finished_time as stockout_finished_time,
			 			   t1.handling_status as stockout_handling_status,
			 			   t1.remark as stockout_remark,
			 			   t1.id as warehouse_id,
			 			   t1.warehouse_code as warehouse_code,
			 			   t1.warehouse_name as warehouse_name
					  from wms_delivery_batch t1
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="stockOutCode != null">and t1.batch_code=#{stockOutCode}</if>
				   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
				   		<if test="handledBy != null">and t1.handled_by=#{handledBy}</if>
				   		<if test="handledDateBegin != null">and t1.handled_date<![CDATA[>=]]>#{handledDateBegin}</if>
				   		<if test="handledDateEnd != null">and t1.handled_date<![CDATA[<=]]>#{handledDateEnd}</if>
				   </where> 
				   order by t1.prepared_time desc
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
 	<!-- 查询出库单列表总数-->
	<select id="queryStockOutListTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_delivery_batch t1
	   <where>
	   		<if test="id != null">t1.id=#{id}</if>
	   		<if test="stockOutCode != null">and t1.batch_code=#{stockOutCode}</if>
	   		<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
	   		<if test="handledBy != null">and t1.handled_by=#{handledBy}</if>
	   		<if test="handledDateBegin != null">and t1.handled_date<![CDATA[>=]]>#{handledDateBegin}</if>
	   		<if test="handledDateEnd != null">and t1.handled_date<![CDATA[<=]]>#{handledDateEnd}</if>
	   </where> 
	</select>
	
	<!-- 更新出库单基本信息 -->
	<update id="updateStockOut" parameterType="StockOut">
  		update wms_delivery_batch
  		<set>
			<if test="warehouseCode!=null">warehouse_code=#{warehouseCode},</if>
			<if test="handledBy!=null">handled_by=#{handledBy},</if>
			<if test="handledDate!=null">handled_date=#{handledDate},</if>
			<if test="handlingStatus!=null">handling_status=#{handlingStatus},</if>
			<if test="finishedTime!=null">finished_time=#{finishedTime},</if>
			<if test="remark!=null">remark=#{remark},</if>
		</set>
  	     where id=#{id}
  	</update>
  	
  	<!-- 获取出库明细列表. 
	<select id="queryStockOutDetailList" parameterType="map" resultMap="stockOutDetailMap">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		select t1.id as stockout_id,
			 			   t1.batch_code as stockout_code,
			 			   t1.handled_by as stockout_handled_by,
			 			   t1.handled_date as stockout_handled_date,
			 			   t1.prepared_by as stockout_prepared_by,
			 			   t1.prepared_time as stockout_prepared_time,
			 			   t1.finished_time as stockout_finished_time,
			 			   t1.handling_status as stockout_handling_status,
			 			   t1.remark as stockout_remark,
			 			   t2.id as detail_id,
			 			   t2.original_code        as detail_original_code,
					       t2.unit_price        as detail_unit_price,
					       t2.quantity          as detail_quantity,
					       t2.measure_unit      as detail_measure_unit,
					       t2.subtotal_price    as detail_subtotal_price,
					       t2.remark            as detail_remark,
					       t2.indiv_enabled     as detail_indiv_enabled,
					       t2.indiv_finished    as detail_indiv_finished,
					       t2.wares_status      as detail_wares_status,
					       t4.id                as order_id,
					       t4.shipping_status   as order_shipping_status,
			 			   t3.id as sku_id,
			 			   t3.sku_code as sku_code,
			 			   t3.sku_name as sku_name,
			 			   t3.sku_barcode as sku_barcode,
			 			   t5.id as warehouse_id,
			 			   t5.warehouse_code as warehouse_code,
			 			   t5.warehouse_name as warehouse_name
					  from wms_delivery_batch t1
					  join wms_stock_out_detail t2
					    on t2.stockout_code = t1.batch_code
					  join wms_sku t3
					    on t2.sku_code = t3.sku_code
					  join wms_sales_order t4
					    on t2.original_code=t4.order_code
					  join wms_warehouse t5
    					on t1.warehouse_code = t5.warehouse_code
				   <where>
				   		<if test="stockOutId != null">t1.id=#{stockOutId}</if>
				   		<if test="stockOutCode != null">and t1.batch_code=#{stockOutCode}</if>
				   		<if test="orderCode != null">and t4.order_code=#{orderCode}</if>
				   		<if test="stockOutItemId != null">and t2.id=#{stockOutItemId}</if>
				   		<if test="indivEnabled!=null">and t2.indiv_enabled=#{indivEnabled}</if>
				   		<if test="indivFinished!=null">and t2.indiv_finished=#{indivFinished}</if>
				   		<if test="handlingStatus != null">and t1.handling_status=#{handlingStatus}</if>
				   		<if test="warehouseCode != null">and t5.warehouse_code=#{warehouseCode}</if>
				   		<if test="skuCode != null">and t3.sku_code=#{skuCode}</if>
				   		<if test="skuName != null">and t3.sku_name like '%${skuName}%'</if>
				   		<if test="finishedTimeBegin != null">and t1.finished_time<![CDATA[>=]]>#{finishedTimeBegin}</if>
	   					<if test="finishedTimeEnd != null">and trunc(t1.finished_time)<![CDATA[<=]]>#{finishedTimeEnd}</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>-->
	
	<!-- 获取出库明细列表总数. 
	<select id="queryStockOutDetailListTotal" parameterType="map" resultType="int">
		select count(1) as total
		  from wms_delivery_batch t1
		  join wms_stock_out_detail t2
		    on t2.stockout_code = t1.batch_code
		  join wms_sku t3
		    on t2.sku_code = t3.sku_code
		  join wms_sales_order t4
		    on t2.original_code=t4.order_code
		  join wms_warehouse t5
			on t1.warehouse_code = t5.warehouse_code
	   <where>
	   		<if test="stockOutId != null">t1.id=#{stockOutId}</if>
	   		<if test="stockOutCode != null">and t1.batch_code=#{stockOutCode}</if>
	   		<if test="orderCode != null">and t4.order_code=#{orderCode}</if>
	   		<if test="stockOutItemId != null">and t2.id=#{stockOutItemId}</if>
	   		<if test="indivEnabled!=null">and t2.indiv_enabled=#{indivEnabled}</if>
	   		<if test="indivFinished!=null">and t2.indiv_finished=#{indivFinished}</if>
	   		<if test="handlingStatus != null">and t1.handling_status=#{handlingStatus}</if>
	   		<if test="warehouseCode != null">and t5.warehouse_code=#{warehouseCode}</if>
	   		<if test="skuCode != null">and t3.sku_code=#{skuCode}</if>
	   		<if test="skuName != null">and t3.sku_name like '%${skuName}%'</if>
	   		<if test="finishedTimeBegin != null">and t1.finished_time<![CDATA[>=]]>#{finishedTimeBegin}</if>
			<if test="finishedTimeEnd != null">and trunc(t1.finished_time)<![CDATA[<=]]>#{finishedTimeEnd}</if>
	   </where> 
	</select>-->
	
	<!-- 添加指定的出库明细项 
	<insert id="addStockOutItem" parameterType="StockOutItem">
 		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_stock_out_detail
 			(id, stockout_code, sku_code,unit_price,quantity,subtotal_price,measure_unit,remark)
 		values
 			(#{id},#{stockOutCode},#{skuCode},#{unitPrice},#{quantity},#{subtotalPrice},#{measureUnit},#{remark})
	</insert>-->
  	
	<!-- 更新出库明细项 
	<update id="updateStockOutItem" parameterType="StockOutItem">
  		update wms_stock_out_detail
		<set>
			<if test="indivFinished!=null">indiv_finished=#{indivFinished},</if>
		</set>
		where id=#{id}
  	</update>-->
  	
  	<!-- 删除指定的出库单 -->
	<delete id="deleteStockOut" parameterType="long">
		delete from wms_delivery_batch 
	 	 where id = #{id}
	 	   and handling_status=0
	</delete>
 </mapper>