<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.TransferDao">
	<resultMap id="transferMap" type="com.gionee.wms.entity.Transfer">
		<id column="transfer_id" property="transferId" />
		<result  column="warehouse_id" property="warehouseId"/>
		<result  column="transfer_to" property="transferTo"/>
		<result  column="remark" property="remark"/>
		<result  column="status" property="status"/>
		<result  column="logistic_no" property="logisticNo"/>
		<result  column="create_time" property="createTime"/>
		<result  column="handled_by" property="handledBy"/>
		<result  column="gonsignee" property="gonsignee"/>
		<result  column="contact" property="contact"/>
		<result  column="po" property="po"/>
		<result  column="logistic_name" property="logisticName"/>
		<result  column="transfer_sale" property="transferSale"/>
		<result  column="transfer_send" property="transferSend"/>
		<result  column="transfer_invoice" property="transferInvoice"/>
		<result  column="order_amount" property="orderAmount"/>
		<result  column="shipping_time" property="shippingTime"/>
		<result  column="trans_type" property="transType" />
		<result column="order_push_status" property="orderPushStatus"/>
		<result column="order_confirm_status" property="orderConfirmStatus"/>
		<result column="flow_type" property="flowType"/>
		<!--goodsList属性是个集合类型-->
		<collection property="goodsList" ofType="TransferGoods">
			<id column="goods_id" property="id" />
			<result column="sku_id" property="skuId" />
			<result column="sku_code" property="skuCode" />
			<result column="sku_name" property="skuName" />
			<result column="quantity" property="quantity" />
			<result column="qty" property="qty"/>
			<result column="measure_unit" property="measureUnit" />
			<result column="unit_price" property="unitPrice" />
		</collection>
	</resultMap>
	
	<sql id="sql_transferWhere">
		<where>
	   		<if test="id != null and id != ''">t1.id=#{id}</if>
	   		<if test="shippingTimeBegin != null">and t1.shipping_time<![CDATA[>=]]>#{shippingTimeBegin}</if>
	   		<if test="shippingTimeEnd != null">and t1.shipping_time<![CDATA[<=]]>#{shippingTimeEnd}</if>
	   </where>
	</sql>

    <sql id="sf_warehouse_query">SELECT WMS_WAREHOUSE.ID FROM WMS_WAREHOUSE WHERE WMS_WAREHOUSE.ID != '1643'</sql>
	<!-- 查询调拨列表总数(顺丰) -->
	<select id="getTransferSfList" parameterType="map" resultType="Transfer">
      SELECT * FROM (
        SELECT
        T1.ID                   AS transferId,
        T3.WAREHOUSE_NAME       AS transferTo,
        T1.STATUS               AS status,
        T1.CREATE_TIME          AS createTime,
        T1.HANDLED_BY           AS handledBy,
        T1.CONSIGNEE            AS consignee,
        T1.CONTACT              AS contact,
        T1.ORDER_AMOUNT         AS orderAmount,
        T1.TRANS_TYPE           AS transType,
        T1.REMARK               AS remark,
        T1.ORDER_PUSH_STATUS    AS orderPushStatus,
        T1.ORDER_CONFIRM_STATUS AS orderConfirmStatus,
        T2.INDIV_CODE           AS logisticName,
        T2.WAREHOUSE_NAME       AS warehouseName,
        T2.SKU_CODE             AS tSale,
        T2.SKU_NAME             AS tSend,
        1                       AS QUANTITY
        FROM WMS_TRANSFER T1
        LEFT JOIN WMS_INDIV T2 ON T1.ID = T2.PREPARE_ID
        LEFT JOIN WMS_WAREHOUSE T3 ON T1.TRANSFER_TO = T3.ID
		<where>
			<if test="transferId != null">t1.id=#{transferId}</if>
			<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
			<if test="status != null">and t1.status=#{status}</if>
			<if test="transferTo != null">and t1.transfer_to=#{transferTo}</if>
			<if test="orderPushStatus != null and orderPushStatus != ''">and t1.order_push_status=#{orderPushStatus}</if>
            <if test="logisticNo != null">and t1.LOGISTIC_NO = #{logisticNo}</if>
            <if test="createTimeBegin != null">and t1.create_time <![CDATA[>=]]> #{createTimeBegin,jdbcType=DATE}</if>
            <if test="createTimeEnd != null">and t1.create_time <![CDATA[<=]]> #{createTimeEnd,jdbcType=DATE}</if>
	   		<if test="shippingTimeBegin != null">and t1.shipping_time<![CDATA[>=]]>#{shippingTimeBegin,jdbcType=DATE}</if>
	   		<if test="shippingTimeEnd != null">and t1.shipping_time<![CDATA[<=]]>#{shippingTimeEnd,jdbcType=DATE}</if>
            AND T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
		</where>
      UNION ALL
        SELECT
        T1.ID                   AS transferId,
        T3.WAREHOUSE_NAME       AS transferTo,
        T1.STATUS               AS status,
        T1.CREATE_TIME          AS createTime,
        T1.HANDLED_BY           AS handledBy,
        T1.CONSIGNEE            AS consignee,
        T1.CONTACT              AS contact,
        T1.ORDER_AMOUNT         AS orderAmount,
        T1.TRANS_TYPE           AS transType,
        T1.REMARK               AS remark,
        T1.ORDER_PUSH_STATUS    AS orderPushStatus,
        T1.ORDER_CONFIRM_STATUS AS orderConfirmStatus,
        ''                      AS logisticName,
        T4.WAREHOUSE_NAME       AS warehouseName,
        T2.SKU_CODE             AS tSale,
        T2.SKU_NAME             AS tSend,
        T2.QUANTITY
        FROM
        WMS_TRANSFER T1
        LEFT JOIN WMS_TRANSFER_GOODS T2 ON T1."ID" = T2.TRANSFER_ID
        LEFT JOIN WMS_WAREHOUSE T3 ON T1.TRANSFER_TO = T3.ID
        LEFT JOIN WMS_WAREHOUSE T4 ON T1.WAREHOUSE_ID = T4.ID
      <where>
        T2.SKU_CODE LIKE '2%'
      	<if test="transferId != null">and t1.id=#{transferId}</if>
      	<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
      	<if test="status != null">and t1.status=#{status}</if>
      	<if test="transferTo != null">and t1.transfer_to=#{transferTo}</if>
      	<if test="orderPushStatus != null and orderPushStatus != ''">and t1.order_push_status=#{orderPushStatus}</if>
        <if test="logisticNo != null">and t1.LOGISTIC_NO = #{logisticNo}</if>
        <if test="createTimeBegin != null">and t1.create_time <![CDATA[>=]]> #{createTimeBegin,jdbcType=DATE}</if>
        <if test="createTimeEnd != null">and t1.create_time <![CDATA[<=]]> #{createTimeEnd,jdbcType=DATE}</if>
      	<if test="shippingTimeBegin != null">and t1.shipping_time<![CDATA[>=]]>#{shippingTimeBegin,jdbcType=DATE}</if>
      	<if test="shippingTimeEnd != null">and t1.shipping_time<![CDATA[<=]]>#{shippingTimeEnd,jdbcType=DATE}</if>
        AND T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
      </where>
	 ) TV ORDER BY TV.createTime desc 
	</select>
	
	<!-- 获取调拨列表(顺丰) -->
	<select id="getTransferListSf" parameterType="map" resultType="Transfer">
      SELECT * FROM (
        SELECT A.*, rownum r
        FROM (
           SELECT
           t1.id                   AS transferId,
           t1.warehouse_id         AS warehouseId,
           t3.warehouse_name       AS transferTo,
           t1.remark               AS remark,
           t1.status               AS status,
           t1.create_time          AS createTime,
           t1.logistic_no          AS logisticNo,
           t1.handled_by           AS handledBy,
           t1.consignee            AS consignee,
           t1.contact              AS contact,
           t1.transfer_sale        AS transferSale,
           t1.transfer_send        AS transferSend,
           t1.transfer_invoice     AS transferInvoice,
           t1.order_amount         AS orderAmount,
           t1.order_push_status    AS orderPushStatus,
           t1.order_confirm_status AS orderConfirmStatus,
           t2.warehouse_name       AS warehouseName
         FROM
           wms_transfer t1
           LEFT JOIN wms_warehouse t2 ON t1.warehouse_id = t2.id
           LEFT JOIN wms_warehouse t3 ON t1.transfer_to = t3.id
		<where>
			<if test="transferId != null">t1.id=#{transferId}</if>
			<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
			<if test="status != null">and t1.status=#{status}</if>
			<if test="transferTo != null">and t1.transfer_to=#{transferTo}</if>
			<if test="orderPushStatus != null and orderPushStatus != ''">and t1.order_push_status=#{orderPushStatus}</if>
            <if test="logisticNo != null">and t1.LOGISTIC_NO = #{logisticNo}</if>
            <if test="createTimeBegin != null">and t1.create_time &gt;= #{createTimeBegin,jdbcType=DATE}</if>
            <if test="createTimeEnd != null">and t1.create_time &lt;= #{createTimeEnd,jdbcType=DATE}</if>
            <if test="shippingTimeBegin != null">and t1.shipping_time &gt;= #{shippingTimeBegin,jdbcType=DATE}</if>
            <if test="shippingTimeEnd != null">and t1.shipping_time &lt;= #{shippingTimeEnd,jdbcType=DATE}</if>
            AND T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
		</where>
        ORDER BY t1.create_time DESC
		) A
      <![CDATA[
          WHERE rownum<=#{page.endRow}
		  )
      WHERE r >= #{page.startRow}
      ]]>
	</select>
	
	<!-- 查询调拨总数(顺丰) -->
    <select id="getTransferListTotalSf" parameterType="map" resultType="int">
        select count(1) as total from wms_transfer t1
        <where>
            <if test="transferId != null">t1.id=#{transferId}</if>
            <if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
            <if test="transferTo != null">and t1.transfer_to=#{transferTo}</if>
            <if test="status != null">and t1.status=#{status}</if>
            <if test="orderPushStatus != null and orderPushStatus != ''">and t1.order_push_status=#{orderPushStatus}</if>
            <if test="logisticNo != null">and t1.LOGISTIC_NO = #{logisticNo}</if>
            <if test="createTimeBegin != null">and t1.create_time &gt;= #{createTimeBegin,jdbcType=DATE}</if>
            <if test="createTimeEnd != null">and t1.create_time &lt;= #{createTimeEnd,jdbcType=DATE}</if>
            <if test="shippingTimeBegin != null">and t1.shipping_time &gt;= #{shippingTimeBegin,jdbcType=DATE}</if>
            <if test="shippingTimeEnd != null">and t1.shipping_time &lt;= #{shippingTimeEnd,jdbcType=DATE}</if>
            AND T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
        </where>
    </select>
	
	
	<!-- 获取调拨列表 -->
	<select id="getTransferList" parameterType="map" resultType="Transfer">
        SELECT *
        FROM (
            SELECT
                A.*,
                rownum r
            FROM (
                SELECT
                    t1.id               AS transferId,
                    t1.warehouse_id     AS warehouseId,
                    t1.transfer_to      AS transferTo,
                    t1.remark           AS remark,
                    t1.status           AS status,
                    t1.create_time      AS createTime,
                    t1.logistic_no      AS logisticNo,
                    t1.handled_by       AS handledBy,
                    t1.consignee        AS consignee,
                    t1.contact          AS contact,
                    t1.transfer_sale    AS transferSale,
                    t1.transfer_send    AS transferSend,
                    t1.transfer_invoice AS transferInvoice,
                    t1.order_amount     AS orderAmount,
                    t2.warehouse_name   AS warehouseName,
                    t1.flow_type        AS flowType
                FROM
                wms_transfer t1
                LEFT JOIN wms_warehouse t2 ON t1.warehouse_id = t2.id
                <where>
                    <if test="transferId != null">t1.id=#{transferId}</if>
                    <if test="transferTo != null">and t1.transfer_to like '%${transferTo}%'</if>
                    <if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
                    <if test="status != null">and t1.status=#{status}</if>
                    <if test="logisticNo != null">and t1.logistic_no=#{logisticNo}</if>
                    <if test="createTimeBegin != null">and t1.create_time &gt;= #{createTimeBegin}</if>
                    <if test="createTimeEnd != null">and t1.create_time &lt;= #{createTimeEnd}</if>
                    and t1.ORDER_PUSH_STATUS is null
                </where>
		        order by t1.create_time desc
		    ) A
        <![CDATA[
            WHERE rownum<=#{page.endRow}
        )
        WHERE r >= #{page.startRow}
        ]]>
	</select>

	<!-- 查询调拨总数 -->
	<select id="getTransferListTotal" parameterType="map"
		resultType="int">
		select count(1) as total from wms_transfer t1
		<where>
			<if test="transferId != null">t1.id=#{transferId}</if>
			<if test="transferTo != null">and t1.transfer_to like '%${transferTo}%'</if>
			<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
			<if test="status != null">and t1.status=#{status}</if>
			<if test="transferTo != null">and t1.transfer_to != #{transferTo}</if>
			<if test="logisticNo != null">and t1.logistic_no=#{logisticNo}</if>
            <if test="createTimeBegin != null">and t1.create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null">and t1.create_time &lt;= #{createTimeEnd}</if>
			and t1.ORDER_PUSH_STATUS is null
		</where>
	</select>
  
    <select id="exportTransferList" parameterType="map" resultType="Map">
      SELECT * FROM (
      	SELECT A.*, rownum r FROM(
      		SELECT
      			t1. ID AS transferId,
      			t1.warehouse_id AS warehouseId,
      			t1.transfer_to AS transferTo,
      			t1.remark AS remark,
      			t1.status AS status,
      			t1.create_time AS createTime,
      			t1.logistic_no AS logisticNo,
      			t1.handled_by AS handledBy,
      			t1.consignee AS consignee,
      			t1.contact AS contact,
      			t1.transfer_sale AS transferSale,
      			t1.transfer_send AS transferSend,
      			t1.transfer_invoice AS transferInvoice,
      			t1.order_amount AS orderAmount,
      			t2.warehouse_name AS warehouseName
      			,TG.sku_code AS skuCode,
      			TG.sku_name AS skuName,
      			TG.quantity AS quantity,
      			TG.measure_unit AS measureUnit,
      			TG.indiv_enabled AS indivEnabled,
      			TG.unit_price AS unitPrice
      			, TB.rm
      		FROM
      			wms_transfer t1
      		LEFT JOIN wms_warehouse t2 ON t1.warehouse_id = t2. ID
      		LEFT JOIN WMS_TRANSFER_GOODS TG ON t1. ID = TG.transfer_id
      		LEFT JOIN (SELECT COUNT(1) rm, WIF.FLOW_ID, WIF.SKU_CODE FROM WMS_INDIV_FLOW WIF WHERE WIF.FLOW_TYPE = 104 GROUP BY WIF.FLOW_ID, WIF.SKU_CODE) TB
      							ON tb.flow_id = t1.id and tb.sku_code = tg.sku_code
      		<where>
    			<if test="transferId != null">t1.id=#{transferId}</if>
    			<if test="transferTo != null">and t1.transfer_to like '%${transferTo}%'</if>
    			<if test="warehouseId != null">and t1.warehouse_id=#{warehouseId}</if>
    			<if test="status != null">and t1.status=#{status}</if>
    			<if test="transferTo != null">and t1.transfer_to != #{transferTo}</if>
    			<if test="logisticNo != null">and t1.logistic_no=#{logisticNo}</if>
                <if test="createTimeBegin != null">and t1.create_time &gt;= #{createTimeBegin}</if>
                <if test="createTimeEnd != null">and t1.create_time &lt;= #{createTimeEnd}</if>
      			AND t1.ORDER_PUSH_STATUS IS NULL
            </where>
      		ORDER BY
      			t1.create_time DESC
      	) A
    	<![CDATA[
		  WHERE rownum<=#{page.endRow}
		)
  	    WHERE r >= #{page.startRow}
    	]]>
    </select>

	<!-- 根据调拨批次id获取调拨信息 -->
    <select id="getTransferById" parameterType="long" resultType="Transfer">
      SELECT
        t1.id                   AS transferId,
        t1.warehouse_id         AS warehouseId,
        t1.transfer_to          AS transferTo,
        t1.remark               AS remark,
        t1.status               AS status,
        t1.create_time          AS createTime,
        t1.logistic_no          AS logisticNo,
        t1.handled_by           AS handledBy,
        t1.consignee            AS consignee,
        t1.contact              AS contact,
        t1.po                   AS po,
        t1.logistic_name        AS logisticName,
        t1.transfer_sale        AS transferSale,
        t1.transfer_send        AS transferSend,
        t1.transfer_invoice     AS transferInvoice,
        t1.order_amount         AS orderAmount,
        t1.trans_type           AS transType,
        t1.flow_type            AS flowType,
        t2.warehouse_name       AS warehouseName,
        t3a.name                AS tSale,
        t3b.name                AS tSend,
        t3c.name                AS tInvoice,
        t1.order_confirm_status AS orderConfirmStatus,
        t1.order_push_status    AS orderPushStatus
      FROM wms_transfer t1
        LEFT JOIN wms_warehouse t2 ON t1.warehouse_id = t2.id
        LEFT JOIN wms_transfer_partner t3a ON t1.transfer_sale = t3a.id
        LEFT JOIN wms_transfer_partner t3b ON t1.transfer_send = t3b.id
        LEFT JOIN wms_transfer_partner t3c ON t1.transfer_invoice = t3c.id
      WHERE t1.id = #{transferId}
    </select>
	
	<!-- 根据调拨批次id获取调拨信息(顺丰) -->
	<select id="getTransferSfById" parameterType="long" resultType="Transfer">
		select t1.id as transferId,
		t1.warehouse_id as warehouseId,
		t3.warehouse_name as transferTo,
		t1.remark
		as remark,
		t1.status as status,
		t1.create_time as createTime,
		t1.logistic_no as logisticNo,
		t1.handled_by as handledBy,
		t1.consignee as consignee,
		t1.contact as contact,
		t1.transfer_sale as transferSale,
		t1.transfer_send as transferSend,
		t1.transfer_invoice as transferInvoice,
		t1.order_amount as orderAmount,
		t1.order_push_status as orderPushStatus,
		t1.order_confirm_status as orderConfirmStatus,
		t2.warehouse_name as warehouseName
		from
		wms_transfer t1
		left join wms_warehouse t2 on t1.warehouse_id=t2.id
		left join wms_warehouse t3 on t1.transfer_to=t3.id
		where t1.id=#{transferId}
	</select>

	<select id="getTransfered" resultType="Transfer">
        SELECT
          t1.id                AS transferId,
          t1.warehouse_id      AS warehouseId,
          t1.remark            AS remark,
          t1.status            AS status,
          t1.create_time       AS createTime,
          t1.order_push_status AS orderPushStatus,
          t1.logistic_no       AS logisticNo,
          t1.handled_by        AS handledBy,
          t1.consignee         AS consignee,
          t1.contact           AS contact,
          t1.transfer_sale     AS transferSale,
          t1.transfer_send     AS transferSend,
          t1.transfer_invoice  AS transferInvoice,
          t1.order_amount      AS orderAmount,
          t1.TRANSFER_TO       AS transferTo
        FROM
          wms_transfer t1
        WHERE t1.status = 2 AND t1.order_push_status = 0 AND
              T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
	</select>
	
	<select id="getTransferPush" resultType="Transfer">
        SELECT
          t1.id                   AS transferId,
          t1.warehouse_id         AS warehouseId,
          t1.remark               AS remark,
          t1.status               AS status,
          t1.create_time          AS createTime,
          t1.order_push_status    AS orderPushStatus,
          t1.order_confirm_status AS orderConfirmStatus,
          t1.logistic_no          AS logisticNo,
          t1.handled_by           AS handledBy,
          t1.consignee            AS consignee,
          t1.contact              AS contact,
          t1.transfer_sale        AS transferSale,
          t1.transfer_send        AS transferSend,
          t1.transfer_invoice     AS transferInvoice,
          t1.order_amount         AS orderAmount,
          t1.TRANSFER_TO          AS transferTo
        FROM
          wms_transfer t1
        WHERE t1.status = 2 AND t1.order_confirm_status = 0 AND
              t1.order_push_status = 1 AND
              T1.TRANSFER_TO IN (<include refid="sf_warehouse_query"/>)
	</select>
	
	<select id="getImeiSf" resultType="Transfer">
		SELECT t2.IMEI as po FROM WMS_TRANSFER_GOODS t1
			LEFT JOIN WMS_SALES_ORDER_IMEI t2 ON t1.TRANSFER_ID = t2.ORDER_CODE
		WHERE
			t1.TRANSFER_ID = #{param1,jdbcType=VARCHAR} AND t1.SKU_CODE = #{param2,jdbcType=VARCHAR}
	</select>

	<!-- 添加调拨单 -->
	<insert id="addTransfer" parameterType="Transfer">
		insert into wms_transfer(id, warehouse_id, transfer_to, remark, logistic_no,
		create_time, handled_by, consignee, contact, po, logistic_name, transfer_sale, transfer_send, transfer_invoice, order_amount, trans_type, flow_type)
		values(#{transferId}, #{warehouseId, jdbcType=VARCHAR}, #{transferTo, jdbcType=VARCHAR},
		#{remark, jdbcType=VARCHAR}, #{logisticNo, jdbcType=VARCHAR}, sysdate, #{handledBy, jdbcType=VARCHAR}, #{consignee, jdbcType=VARCHAR}, #{contact, jdbcType=VARCHAR}, #{po, jdbcType=VARCHAR}, #{logisticName, jdbcType=VARCHAR},
		#{transferSale}, #{transferSend}, #{transferInvoice}, #{orderAmount}, #{transType, jdbcType=VARCHAR} ,#{flowType, jdbcType=VARCHAR})
	</insert>
	
	<!-- 添加调货单(顺丰) -->
	<insert id="addTransferSf" parameterType="Transfer">
		insert into wms_transfer(id, warehouse_id, transfer_to, remark, logistic_no,
		create_time, handled_by, consignee, contact,order_amount, trans_type,order_push_status)
		values(#{transferId}, #{warehouseId, jdbcType=VARCHAR}, #{transferTo, jdbcType=VARCHAR},
		#{remark, jdbcType=VARCHAR}, #{logisticNo, jdbcType=VARCHAR}, sysdate, #{handledBy, jdbcType=VARCHAR}, 
		#{consignee, jdbcType=VARCHAR}, #{contact, jdbcType=VARCHAR},
		#{orderAmount}, #{transType, jdbcType=VARCHAR},#{orderPushStatus,jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量添加调拨单商品(顺丰) -->
	<insert id="batchAddTransferGoods" parameterType="list">
		insert into wms_transfer_goods(id, transfer_id,sku_id,
		sku_code,sku_name,unit_price,quantity,measure_unit,indiv_enabled,qty)
		select WMS_SEQ_COMMON.nextval,A.* from
		(
		<foreach item="item" collection="list" index="index"
			separator="UNION ALL">
			select
			#{item.transferId},#{item.skuId},#{item.skuCode},#{item.skuName},#{item.unitPrice},#{item.quantity},#{item.measureUnit},#{item.indivEnabled},#{item.qty}
			from dual
		</foreach>
		)A
	</insert>
	
	<!-- 更新调拨单 -->
	<update id="updateTransfer" parameterType="Transfer">
		update wms_transfer
		<set>
            <if test="flowType!=null">warehouse_id=#{warehouseId, jdbcType=VARCHAR},</if>
            <if test="transferTo!=null">transfer_to=#{transferTo, jdbcType=VARCHAR},</if>
            <if test="remark!=null">remark=#{remark, jdbcType=VARCHAR},</if>
            <if test="consignee!=null">consignee=#{consignee, jdbcType=VARCHAR},</if>
            <if test="contact!=null">contact=#{contact, jdbcType=VARCHAR},</if>
            <if test="po!=null">po=#{po, jdbcType=VARCHAR},</if>
            <if test="logisticName!=null">logistic_name=#{logisticName, jdbcType=VARCHAR},</if>
            <if test="transferSale!=null">transfer_sale=#{transferSale, jdbcType=VARCHAR},</if>
            <if test="transferSend!=null">transfer_send=#{transferSend, jdbcType=VARCHAR},</if>
            <if test="transferInvoice!=null">transfer_invoice=#{transferInvoice, jdbcType=VARCHAR},</if>
            <if test="orderAmount!=null">order_amount=#{orderAmount, jdbcType=INTEGER},</if>
            <if test="transType!=null">trans_type=#{transType, jdbcType=VARCHAR},</if>
            <if test="flowType!=null">flow_type=#{flowType, jdbcType=VARCHAR},</if>
			<if test="shippingTime!=null">shipping_time=#{shippingTime},</if>
			<if test="status!=null">status=#{status, jdbcType=VARCHAR},</if>
			<if test="logisticNo!=null">logistic_no=#{logisticNo, jdbcType=VARCHAR},</if>
			<if test= "handledBy!=null">handled_by=#{handledBy, jdbcType=VARCHAR}</if>
		</set>
		where id=#{transferId}
	</update>
	
	<!-- 更新调货单-->
	<update id="updateTransferSf" parameterType="Transfer">
		update WMS_TRANSFER t1
		<set>
			<if test="warehouseId != null">t1.warehouse_id=#{warehouseId},</if>
			<if test="transferTo != null">t1.transfer_to=#{transferTo},</if>
			<if test="remark != null">t1.remark=#{remark},</if>
			<if test="status != null">t1.status=#{status},</if>
			<if test="orderPushStatus != null">t1.order_push_status=#{orderPushStatus},</if>
			<if test="orderConfirmStatus != null">t1.order_confirm_status=#{orderConfirmStatus},</if>
			t1.create_time=sysdate,
			<if test="handledBy != null">t1.handled_by=#{handledBy},</if>
			<if test="consignee != null">t1.consignee=#{consignee},</if>
			<if test="contact != null">t1.contact=#{contact},</if>
			<if test="orderAmount != null">t1.order_amount=#{orderAmount},</if>
			<if test="transType != null">t1.trans_type=#{transType},</if>
            <if test="logisticNo != null">t1.LOGISTIC_NO = #{logisticNo}</if>
		</set>
		<where>
	   		<if test="transferId != null">t1.id=#{transferId}</if>
	   </where>
	</update>

	<!-- 删除调拨单 -->
	<delete id="deleteTransfer" parameterType="long">
		delete from
		wms_transfer
		where id = #{transferId}
	</delete>

	<!-- 添加收货商品 -->
	<insert id="addTransferGoods" parameterType="TransferGoods">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select
			WMS_SEQ_COMMON.nextval from dual
		</selectKey>
		insert into wms_transfer_goods
		(id,transfer_id,sku_id,sku_code,sku_name,quantity,measure_unit,indiv_enabled,unit_price,qty)
		values
		(#{id},#{transferId},#{skuId},#{skuCode},#{skuName},#{quantity},#{measureUnit},(select
		indiv_enabled from wms_wares where id=(select wares_id from wms_sku
		where id=#{skuId})), #{unitPrice, jdbcType=NUMERIC},#{qty,jdbcType=NUMERIC})
	</insert>

	<!-- 根据调拨批次id获取调拨商品(检查配货情况) -->
	<select id="getTransferGoodsForPrep" parameterType="long"
		resultType="TransferGoods">
		select t.id as id,
		t.transfer_id as transferId,
		t.sku_id as skuId,
		t.sku_code as skuCode,
		t.sku_name as skuName,
		t.quantity as quantity,
		t.measure_unit as measureUnit,
		t.indiv_enabled as indivEnabled,
		t.unit_price as unitPrice,
		case t.indiv_enabled when '1' then
	    	(select count(1) from wms_indiv where sku_id=t.sku_id and prepare_id=t.transfer_id and stock_status=3)
	    else t.prepared_num end as preparedNum
		from WMS_TRANSFER_GOODS t
		where t.transfer_id=#{transferId}
	</select>
	
	<!-- 根据调拨批次id获取调拨商品(检查退货情况) -->
	<select id="getTransferGoodsForView" parameterType="long"
		resultType="TransferGoods">
		select t.id as id,
		t.transfer_id as transferId,
		t.sku_id as skuId,
		t.sku_code as skuCode,
		t.sku_name as skuName,
		t.quantity as quantity,
		t.measure_unit as measureUnit,
		t.indiv_enabled as indivEnabled,
		t.unit_price as unitPrice,
		(select count(1) from wms_indiv_flow where flow_id=#{transferId} and flow_type=104 and sku_id=t.sku_id) as rmaNum
		from WMS_TRANSFER_GOODS t
		where t.transfer_id=#{transferId}
	</select>
	
	<!-- 根据调拨批次id获取调拨商品 -->
    <select id="getTransferGoodsById" parameterType="long" resultType="TransferGoods">
        SELECT
          t.id            AS id,
          t.transfer_id   AS transferId,
          t.sku_id        AS skuId,
          t.sku_code      AS skuCode,
          t.sku_name      AS skuName,
          t.quantity      AS quantity,
          t.measure_unit  AS measureUnit,
          t.indiv_enabled AS indivEnabled,
          t.unit_price    AS unitPrice,
          t.qty           AS qty,
          t.PREPARED_NUM  AS preparedNum
        FROM WMS_TRANSFER_GOODS t
        WHERE t.transfer_id = #{transferId}
	</select>
	
	<!-- 删除指定调拨商品 -->
	<delete id="deleteGoodsById" parameterType="long">
		delete from
		wms_transfer_goods
		where id = #{goodsId}
	</delete>
	
	<!-- 删除调拨商品 -->
	<delete id="deleteTransferGoods" parameterType="long">
		delete from
		wms_transfer_goods
		where transfer_id = #{transferId}
	</delete>
	
	<!-- 查询调拨商品 -->
	<select id="getTransferGoods" parameterType="map"
		resultType="TransferGoods">
		select t.id as id,
		t.transfer_id as transferId,
		t.sku_id as skuId,
		t.sku_code as skuCode,
		t.sku_name as skuName,
		t.quantity as quantity,
		t.measure_unit as measureUnit,
		t.indiv_enabled as indivEnabled,
		t.unit_price as unitPrice,
		t.prepared_num as preparedNum,
		t.qty as qty
		from WMS_TRANSFER_GOODS t
		<where>
	   		<if test="transferId != null">t.transfer_id=#{transferId}</if>
	   		<if test="skuCode != null">and t.sku_code=#{skuCode}</if>
	   		<if test="goodsId != null">and t.id=#{goodsId}</if>
	   </where>
	</select>
	
	<!-- 更新调拨商品 -->
	<update id="updateTransferGoods" parameterType="map">
		update WMS_TRANSFER_GOODS t1
		<set>
			<if test="quantity!=null">t1.quantity=#{quantity}</if>
			<if test="preparedNum!=null">t1.prepared_num=#{preparedNum}</if>
			<if test="qty!=null">t1.qty=#{qty}</if>
		</set>
		<where>
	   		<if test="transferId != null">t1.transfer_id=#{transferId}</if>
	   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
	   		<if test="goodsId != null">and t1.id=#{goodsId}</if>
	   </where>
	</update>
	
	<!-- 根据调拨批次id获取调拨商品 -->
	<select id="getTransferPartnerList" parameterType="map"
		resultType="TransferPartner">
		SELECT T.ID AS id, T.NAME AS name, T.CODE AS code, T.REMARK AS remark
  		FROM WMS_TRANSFER_PARTNER T
  		<where>
  		    <if test="id!=null">id=#{id}</if>
  		</where>
	</select>

    <insert id="insertBatch" parameterType="java.util.List">

        insert into wms_transfer(id,TRANSFER_TO,create_time,CONSIGNEE, contact,order_amount, flow_type)
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.transferId}, #{item.transferTo, jdbcType=VARCHAR},sysdate,
            #{item.consignee, jdbcType=VARCHAR}, #{item.contact, jdbcType=VARCHAR},
            #{item.orderAmount},#{item.flowType, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>


    <insert id="insertBatchGoods" parameterType="java.util.List">
        insert into wms_transfer_goods(id, transfer_id,sku_id,
        sku_code,sku_name,unit_price,quantity,measure_unit)
        select WMS_SEQ_COMMON.nextval,A.* from
        (
        <foreach item="item" collection="list" index="index"
                 separator="UNION ALL">
            select
            #{item.transferId},#{item.skuId},#{item.skuCode},#{item.skuName}
            ,#{item.unitPrice},#{item.quantity},#{item.measureUnit}
            from dual
        </foreach>
        )A
    </insert>


</mapper>