<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.WaresDao" >
	<!-- 自定义resultMap嵌套对象 -->
 	<resultMap id="waresMap" type="Wares">
		<id property="id" column="wares_id" />
		<result property="waresName" column="wares_name" />
		<result property="waresCode" column="wares_code"/>
		<result property="waresBrand" column="wares_brand"/>
		<result property="measureUnit" column="wares_measure_unit"/>
		<result property="indivEnabled" column="wares_indiv_enabled"/>
		<result property="createTime" column="wares_create_time"/>
		<result property="enabled" column="wares_enabled"/>
		<result property="waresModel" column="wares_model"/>
		<result property="waresRemark" column="wares_remark"/>
		<association property="category" column="cat_id" javaType="Category">
			<id property="id" column="cat_id"/>
			<result property="catName" column="cat_name"/>
		</association>
		<association property="attrSet" column="attr_set_id" javaType="AttrSet">
			<id property="id" column="attr_set_id"/>
			<result property="attrSetName" column="attr_set_name"/>
		</association>
	</resultMap>
	
	<!-- 自定义resultMap嵌套对象 -->
 	<resultMap id="waresAttrInfoMap" type="Wares">
		<id property="id" column="wares_id" />
		<association property="attrSet" column="set_id" javaType="AttrSet">
			<id property="id" column="set_id"/>
			<result property="attrSetName" column="set_name"/>
			<collection property="attrList" javaType="SkuAttr">
				<id property="id" column="attr_id" />
				<result property="attrName" column="attr_name" />
				<collection property="itemList" javaType="SkuItem">
					<id property="id" column="item_id" />
					<result property="itemName" column="item_name" />
				</collection>
			</collection>
		</association>
	</resultMap>
	
	<!-- 根据商品ID获取SKU列表 -->
	<select id="querySkuListByWaresId" parameterType="map" resultType="SkuVo">
		select id skuId,wares_id waresId,sku_name skuName,sku_code skuCode,sku_barcode skuBarcode from wms_sku t where t.wares_id=#{waresId} and t.enabled=#{enabled}
	</select>
	
	<!-- 根据商品Code获取SKU列表 -->
	<select id="querySkuListByWaresCode" parameterType="map" resultType="SkuVo">
		select t1.id skuId,t1.wares_id waresId,t1.sku_name skuName,t1.sku_code skuCode,t1.sku_barcode skuBarcode 
		from wms_sku t1 
		join wms_wares t2
		on t1.wares_id=t2.id
		where t2.wares_code=#{waresCode} and t1.enabled=#{enabled} and t2.enabled=#{enabled}
	</select>
	<!-- 获取商品详细信息列表(商品、分类、属性集). -->
	<select id="queryWaresList" parameterType="map" resultMap="waresMap">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		select t1.id          as wares_id,
					       t1.wares_name  as wares_name,
					       t1.wares_code  as wares_code,
					       t1.wares_brand as wares_brand,
					       t1.measure_unit as wares_measure_unit,
					       t1.indiv_enabled       as wares_indiv_enabled,
					       t1.create_time   as wares_create_time,
					       t1.enabled       as wares_enabled,
					       t1.wares_model      as wares_model,
					       t1.wares_remark     as wares_remark,
					       t2.id            as cat_id,
					       t2.cat_name      as cat_name,
					       t3.id            as attr_set_id,
					       t3.attr_set_name as attr_set_name
					  from wms_wares t1
					  join wms_attr_set t3
					    on t1.attr_set_id = t3.id
				 left join wms_wares_category t2
					    on t1.cat_id = t2.id
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="waresName != null">and t1.wares_name like '%${waresName}%'</if>
				   		<if test="waresCode != null">and t1.wares_code=#{waresCode}</if>
				   		<if test="catPath != null">and instr(t2.cat_path,#{catPath}) = 1</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
 	<!-- 查询商品总数-->
	<select id="queryWaresListTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_wares t1
		  join wms_attr_set t3
		    on t1.attr_set_id = t3.id
	 left join wms_wares_category t2
		    on t1.cat_id = t2.id
	   <where>
	   		<if test="id != null">t1.id=#{id}</if>
	   		<if test="waresName != null">and t1.wares_name like '%${waresName}%'</if>
	   		<if test="waresCode != null">and t1.wares_code=#{waresCode}</if>
	   		<if test="catPath != null">and instr(t2.cat_path,#{catPath}) = 1</if>
	   </where>
	</select>
	
	<!-- 获取商品的属性信息(属性集、属性、可选项). -->
	<select id="queryWaresWithAttrInfo" parameterType="map" resultMap="waresAttrInfoMap">
		select t1.id          as wares_id,
		       t1.wares_name  as wares_name,
		       t2.id            as set_id,
		       t2.attr_set_name      as set_name,
		       t3.id            as attr_id,
		       t3.attr_name as attr_name,
		       t4.id as item_id,
		       t4.item_name as item_name
		  from wms_wares t1
		  join wms_attr_set t2
		    on t1.attr_set_id = t2.id
	 left join wms_sku_attr t3
		    on t3.attr_set_id = t2.id
	 left join wms_sku_item t4
		    on t4.attr_id = t3.id
	   <where>
	   		<if test="waresId != null">t1.id=#{waresId}</if>
	   		<if test="waresCode != null">and t1.wares_code=#{waresCode}</if>
	   </where>
	</select>
	 
 	<!-- 添加商品 -->
	<insert id="addWares" parameterType="Wares">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_wares
		  (id, cat_id, attr_set_id,wares_name,wares_code,wares_brand,measure_unit,indiv_enabled,create_time,enabled,wares_model,wares_remark)
		select #{id},#{category.id, jdbcType=NUMERIC},#{attrSet.id},#{waresName},#{waresCode},#{waresBrand},#{measureUnit},#{indivEnabled},#{createTime},#{enabled},#{waresModel},#{waresRemark} from dual
		where not exists (select 1 from wms_wares where wares_name=#{waresName} or wares_code=#{waresCode})
	</insert>
	
	<!-- 更新商品 -->
	<update id="updateWares" parameterType="Wares">
  		update wms_wares
  		<set>
			<if test="category!=null and category.id!=null">cat_id=#{category.id},</if>
			<if test="attrSet!=null and attrSet.id!=null">attr_set_id=#{attrSet.id},</if>
			<if test="waresName!=null">wares_name=#{waresName},</if>
			<if test="waresCode!=null">wares_code=#{waresCode},</if>
			<if test="waresBrand!=null">wares_brand=#{waresBrand},</if>
			<if test="measureUnit!=null">measure_unit=#{measureUnit},</if>
			<if test="indivEnabled!=null">indiv_enabled=#{indivEnabled},</if>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="waresModel!=null">wares_model=#{waresModel},</if>
			<if test="waresRemark!=null">wares_remark=#{waresRemark}</if>
		</set>
  	     where id=#{id} 
  	     <if test="waresName!=null and waresName!=''">
  	       and not exists (select 1 from wms_wares where id!=#{id} and wares_name=#{waresName})
  	     </if>
  	     <if test="waresCode!=null and waresCode!=''">
  	       and not exists (select 1 from wms_wares where id!=#{id} and wares_code=#{waresCode})
  	     </if>
  	       
  	</update>
  	
	<!-- 删除商品 -->
	<delete id="deleteWares" parameterType="long">
		delete from wms_wares 
	 	 where id = #{id}
   		   and not exists (select 1 from wms_sku where wares_id = #{id})
	</delete>
	
	<!-- =============SKU相关=============== -->
	<!-- 自定义resultMap嵌套对象 -->
 	<resultMap id="skuMap" type="Sku">
		<id property="id" column="sku_id" />
		<result property="skuName" column="sku_name" />
		<result property="skuCode" column="sku_code"/>
		<result property="skuBarcode" column="sku_barcode"/>
		<result property="materialCode" column="sku_material_code"/>
		<result property="itemIds" column="sku_item_ids"/>
		<result property="createTime" column="sku_create_time"/>
		<result property="remark" column="sku_remark"/>
		<result property="enabled" column="sku_enabled"/>
		<association property="wares" column="wares_id" javaType="Wares">
			<id property="id" column="wares_id"/>
			<result property="waresName" column="wares_name"/>
			<result property="measureUnit" column="wares_measure_unit"/>
			<result property="indivEnabled" column="wares_indiv_enabled"/>
			<result property="waresModel" column="wares_model"/>
			<result property="waresRemark" column="wares_remark"/>
		</association>
		<!-- <association property="supplier" column="supplier_id" javaType="Supplier">
			<id property="id" column="supplier_id"/>
			<result property="supplierName" column="supplier_name"/>
		</association> -->
	</resultMap>
	
	<resultMap id="skuMap2" type="Sku">
		<id property="id" column="sku_id" />
		<result property="skuName" column="sku_name" />
		<result property="skuCode" column="sku_code"/>
		<result property="skuBarcode" column="sku_barcode"/>
		<result property="itemIds" column="sku_item_ids"/>
		<result property="createTime" column="sku_create_time"/>
		<result property="remark" column="sku_remark"/>
		<result property="enabled" column="sku_enabled"/>
		<association property="wares" column="wares_id" javaType="Wares">
			<id property="id" column="wares_id"/>
			<result property="waresName" column="wares_name"/>
			<result property="measureUnit" column="wares_measure_unit"/>
			<result property="indivEnabled" column="wares_indiv_enabled"/>
			<result property="waresModel" column="wares_model"/>
			<result property="waresRemark" column="wares_remark"/>
		</association>
		<collection property="itemList" javaType="SkuItem">
			<id property="id" column="item_id" />
			<result property="itemName" column="item_name" />
			<association property="skuAttr" column="attr_id" javaType="SkuAttr">
				<id property="id" column="attr_id" />
				<result property="attrName" column="attr_name" />
			</association>
		</collection>
	</resultMap>
	
	<resultMap id="skuWithAttrMap" type="Sku">
		<id property="id" column="sku_id" />
		<result property="skuName" column="sku_name" />
		<result property="skuCode" column="sku_code"/>
		<result property="skuBarcode" column="sku_barcode"/>
		<result property="materialCode" column="sku_material_code"/>
		<result property="itemIds" column="sku_item_ids"/>
		<result property="createTime" column="sku_create_time"/>
		<result property="remark" column="sku_remark"/>
		<result property="enabled" column="sku_enabled"/>
		<result property="attrInfo" column="sku_attr_info"/>
		<association property="wares" column="wares_id" javaType="Wares">
			<id property="id" column="wares_id"/>
			<result property="waresName" column="wares_name"/>
			<result property="measureUnit" column="wares_measure_unit"/>
			<result property="indivEnabled" column="wares_indiv_enabled"/>
		</association>
	</resultMap>
	
	<sql id="sql_skuColumns">
			   t1.id          as sku_id,
			   t1.sku_code  as sku_code,
		       t1.sku_name  as sku_name,
		       t1.sku_barcode as sku_barcode,
		       t1.material_code as sku_material_code,
		       t1.item_ids as sku_item_ids,
		       t1.create_time   as sku_create_time,
		       t1.remark as sku_remark,
		       t1.enabled       as sku_enabled,
		       t2.id            as wares_id,
		       t2.wares_name      as wares_name,
		       t2.measure_unit as wares_measure_unit,
		       t2.indiv_enabled       as wares_indiv_enabled,
		       t2.wares_model   as wares_model,
		       t2.wares_remark   as wares_remark
	</sql>
	
	<!-- 获取SKU详细信息列表(商品、供应商、sku). -->
	<select id="querySkuList" parameterType="map" resultMap="skuMap">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
		  	  		select <include refid="sql_skuColumns"/>
					  from wms_sku t1
					  join wms_wares t2
					    on t1.wares_id = t2.id
				 left join wms_wares_category t4
              			on t2.cat_id = t4.id
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="waresId != null">and t1.wares_id=#{waresId}</if>
				   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
				   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
				   		<if test="skuFullName != null">and t1.sku_name=#{skuFullName}</if>
				   		<if test="skuBarcode != null">and t1.sku_barcode=#{skuBarcode}</if>
				   		<if test="catPath != null">and instr(t4.cat_path,#{catPath}) = 1</if>
				   		<if test="indivEnabled != null">and t2.indiv_enabled=#{indivEnabled}</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 查询sku列表总数-->
	<select id="querySkuListTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
	 left join wms_wares_category t4
            on t2.cat_id = t4.id
	   <where>
	   		<if test="id != null">t1.id=#{id}</if>
	   		<if test="waresId != null">and t1.wares_id=#{waresId}</if>
	   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
	   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
	   		<if test="skuFullName != null">and t1.sku_name=#{skuFullName}</if>
	   		<if test="skuBarcode != null">and t1.sku_barcode=#{skuBarcode}</if>
	   		<if test="catPath != null">and instr(t4.cat_path,#{catPath}) = 1</if>
	   </where>
	</select>
	
	<!-- 查询指定的sku -->
	<select id="querySku" parameterType="long" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
		 where t1.id=#{id}
	</select>
	
	<!-- 根据SKU编码查询指定的sku -->
	<select id="querySkuBySkuCode" parameterType="string" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
		 where t1.sku_code=#{skuCode}
	</select>
	
	<!-- 获取带属性信息的SKU详细信息列表(商品、供应商、sku、属性). -->
	<select id="querySkuWithAttrList_bak" parameterType="map" resultMap="skuMap2">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
					select t1.id            as sku_id,
					       t1.sku_code      as sku_code,
					       t1.sku_name      as sku_name,
					       t1.sku_barcode   as sku_barcode,
					       t1.item_ids      as sku_item_ids,
					       t1.create_time   as sku_create_time,
					       t1.remark        as sku_remark,
					       t1.enabled       as sku_enabled,
					       t2.id            as wares_id,
					       t2.wares_name    as wares_name,
					       t2.measure_unit  as wares_measure_unit,
					       t2.indiv_enabled as wares_indiv_enabled,
					       t2.wares_model   as wares_model,
		                   t2.wares_remark  as wares_remark,
					       t7.id as attr_id,
					       t7.attr_name as attr_name,
					       t6.id as item_id,
					       t6.item_name as item_name
					  from wms_sku t1
					  join wms_wares t2
					    on t1.wares_id = t2.id
					 left join wms_wares_category t4
					    on t2.cat_id = t4.id
					 left join wms_sku_item_relation t5
					    on t5.sku_id = t1.id
					 left join wms_sku_item t6
					    on t5.sku_item_id = t6.id
					 left join wms_sku_attr t7
					    on t6.attr_id = t7.id   
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
				   		<if test="waresId != null">and t1.wares_id=#{waresId}</if>
				   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
				   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
				   		<if test="skuFullName != null">and t1.sku_name=#{skuFullName}</if>
				   		<if test="skuBarcode != null">and t1.sku_barcode=#{skuBarcode}</if>
				   		<if test="catPath != null">and instr(t4.cat_path,#{catPath}) = 1</if>
				   </where> 
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
	<!-- 获取带属性信息的SKU详细信息列表(商品、供应商、sku、属性). -->
	<select id="querySkuWithAttrList" parameterType="map" resultMap="skuWithAttrMap">
		SELECT *
		 FROM( 
			  SELECT A.*, rownum r
		  	  FROM(
					select t1.id as sku_id,
					       max(t1.sku_code) as sku_code,
					       max(t1.sku_name) as sku_name,
					       max(t1.sku_barcode) as sku_barcode,
					       max(t1.material_code) as sku_material_code,
					       max(t1.item_ids) as sku_item_ids,
					       max(t1.create_time) as sku_create_time,
					       max(t1.remark) as sku_remark,
					       max(t1.enabled) as sku_enabled,
					       max(t0.id) as wares_id,
					       max(t0.wares_name) as wares_name,
					       max(t0.measure_unit) as wares_measure_unit,
					       max(t0.indiv_enabled) as wares_indiv_enabled,
					       max(t0.wares_model) as wares_model,
					       max(t0.wares_remark) as wares_remark,
					       listagg(t4.attr_name || ':' || t3.item_name, ',') within group(order by null) as sku_attr_info
					  from wms_sku t1
					  join wms_wares t0
					    on t1.wares_id = t0.id
				 left join wms_sku_item_relation t2
					    on t2.sku_id = t1.id
				 left join wms_sku_item t3
					    on t2.sku_item_id = t3.id
				 left join wms_sku_attr t4
					    on t3.attr_id = t4.id
			     left join wms_wares_category t5
    					on t0.cat_id = t5.id
				   <where>
				   		<if test="id != null">t1.id=#{id}</if>
					    <if test="waresId != null">and t1.wares_id=#{waresId}</if>
					    <if test="materialCode != null">and t1.material_code=#{materialCode}</if>
				   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
				   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
				   		<if test="skuFullName != null">and t1.sku_name=#{skuFullName}</if>
				   		<if test="skuBarcode != null">and t1.sku_barcode=#{skuBarcode}</if>
				   		<if test="catPath != null">and instr(t5.cat_path,#{catPath}) = 1</if>
				   </where>
				   group by t0.id, t1.id order by sku_code
		  	  	   ) A
	<![CDATA[
			  WHERE rownum<=#{page.endRow} 
			)
	    WHERE r >= #{page.startRow}
	]]>
	</select>
	
 	<!-- 查询sku列表总数-->
	<select id="querySkuWithAttrListTotal" parameterType="map"  resultType="int">
		select count(1) as total
		  from (select 1
				  from wms_sku t1
				  join wms_wares t0
				    on t1.wares_id = t0.id
			 left join wms_sku_item_relation t2
				    on t2.sku_id = t1.id
			 left join wms_sku_item t3
				    on t2.sku_item_id = t3.id
			 left join wms_sku_attr t4
				    on t3.attr_id = t4.id
		     left join wms_wares_category t5
		 					on t0.cat_id = t5.id
			   <where>
			   		<if test="id != null">t1.id=#{id}</if>
			   		<if test="waresId != null">and t1.wares_id=#{waresId}</if>
			   		<if test="skuCode != null">and t1.sku_code=#{skuCode}</if>
			   		<if test="skuName != null">and t1.sku_name like '%${skuName}%'</if>
			   		<if test="skuFullName != null">and t1.sku_name=#{skuFullName}</if>
			   		<if test="skuBarcode != null">and t1.sku_barcode=#{skuBarcode}</if>
			   		<if test="catPath != null">and instr(t5.cat_path,#{catPath}) = 1</if>
			   </where>
			   group by t0.id, t1.id
			   )
	</select>
	
	<!-- 获取只要符合任何一个条件的SKU列表. -->
	<select id="queryAnySkuList" parameterType="map" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
	   <where>
	   		<if test="skuCode != null">t1.sku_code=#{skuCode}</if>
	   		<if test="skuFullName != null">or t1.sku_name=#{skuFullName}</if>
	   		<if test="skuBarcode != null">or t1.sku_barcode=#{skuBarcode}</if>
	   		<if test="materialCode != null">or t1.material_code=#{materialCode}</if>
	   		<!-- <if test="waresId != null and itemIds!=null">or (t1.wares_id=#{waresId} and t1.item_ids=#{itemIds})</if> -->
	   </where>
	</select>
	
	<!--根据SKU编码批量获取SKU列表. -->
	<select id="querySkuListByCodes" parameterType="list" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
		 where t1.sku_code in
		   <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		 	 	#{item}
		   </foreach>
	</select>
	
	<!--根据ERP物料编码批量获取SKU列表. -->
	<select id="querySkuListByMaterialCodes" parameterType="list" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
		 where t1.material_code in
		   <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		 	 	#{item}
		   </foreach>
	</select>
	
	<!--根据SKU ID批量获取SKU列表. -->
	<select id="querySkuListByIds" parameterType="list" resultMap="skuMap">
		select <include refid="sql_skuColumns"/>
		  from wms_sku t1
		  join wms_wares t2
		    on t1.wares_id = t2.id
		 where t1.id in
		   <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		 	 	#{item}
		   </foreach>
	</select>
	
	<!-- 添加SKU -->
	<insert id="addSku" parameterType="Sku">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_sku
		  (id, wares_id,sku_name,sku_code,sku_barcode,material_code,item_ids,remark,create_time,enabled)
		select #{id},#{wares.id},#{skuName},#{skuCode},#{skuBarcode},#{materialCode},#{itemIds},#{remark},#{createTime},#{enabled} from dual
		 where not exists (select 1 from wms_sku where wares_id=#{wares.id} and item_ids=#{itemIds})
	</insert>
	
	<!-- 批量添加SKU与可选项的关联条目 -->
	<insert id="addSkuItemRelation" parameterType="map">
 		insert into wms_sku_item_relation(id, sku_id, sku_item_id)
		select WMS_SEQ_COMMON.nextval,A.* from(
		<foreach item="itemId" collection="itemList" index="index" separator="UNION ALL">
		   select #{skuId},#{itemId} from dual
		</foreach>
		  )A
		  where not exists (select 1 from wms_sku_item_relation where sku_id = #{skuId} and sku_item_id in 
		<foreach item="itemId" index="index" collection="itemList" open="(" separator="," close=")">
	 	 	#{itemId}
	 	</foreach>
	 	)
	</insert>
  
    <!-- 批量添加组合SKU -->
    <insert id="addSkuBomDetailRelation" parameterType="map">
      insert into wms_sku_bom_detail(id, P_SKU_CODE, C_SKU_CODE, QUANTITY, IS_BONUS)
      select WMS_SEQ_COMMON.nextval, A.* from (
        <foreach item="item" collection="itemList" index="index" separator="UNION ALL">
           select #{item.pSkuCode} P_SKU_CODE, #{item.cSkuCode} C_SKU_CODE, 
           <if test="item.quantity == null">NULL quantity,</if>
           <if test="item.quantity != null">#{item.quantity} quantity,</if> 
           <if test="item.isBonus == null">1 isBonus</if>
           <if test="item.isBonus != null">#{item.isBonus} isBonus</if> 
           from dual
        </foreach>
      ) A
      WHERE NOT EXISTS ( SELECT 1 FROM WMS_SKU_BOM_DETAIL WHERE a.P_SKU_CODE = P_SKU_CODE AND A.C_SKU_CODE = C_SKU_CODE )
    </insert>
    
    <!-- 删除组合SKU -->
    <delete id="deleteSkuBomDetailRelation" parameterType="string">
      DELETE FROM WMS_SKU_BOM_DETAIL WHERE P_SKU_CODE = #{skuCode}
    </delete>
    
    <select id="selectSkuBomDetailRelation" parameterType="string" resultType="com.gionee.wms.entity.SkuBomDetail">
      SELECT B.P_SKU_CODE pSkuCode, B.C_SKU_CODE cSkuCode, B.QUANTITY, S.SKU_CODE skuCode, S.SKU_NAME skuName, S.MEASURE_UNIT measureUnit, DECODE(B.IS_BONUS, NULL, 1, B.IS_BONUS) isBonus FROM WMS_SKU_BOM_DETAIL B LEFT JOIN 
      (SELECT SS.SKU_CODE, SS.SKU_NAME, W.MEASURE_UNIT FROM WMS_SKU SS LEFT JOIN WMS_WARES W ON SS.WARES_ID = W.ID)
      S ON B.C_SKU_CODE = S.SKU_CODE
      WHERE B.P_SKU_CODE = #{skuCode}
    </select>
	
	<!-- 更新SKU -->
	<update id="updateSku" parameterType="Sku">
  		update wms_sku
  		<set>
			<if test="skuName!=null">sku_name=#{skuName},</if>
			<if test="skuCode!=null">sku_code=#{skuCode},</if>
			<if test="skuBarcode!=null">sku_barcode=#{skuBarcode},</if>
			<if test="remark!=null">remark=#{remark},</if>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="materialCode!=null">material_code=#{materialCode},</if>
		</set>
  	     where id=#{id}
  	</update>
  	
	<!-- 删除SKU -->
	<delete id="deleteSku" parameterType="long">
		delete from wms_sku 
	 	 where id = #{id}
   		   and not exists (select 1 from wms_stock where sku_id = #{id})
	</delete>
	
	<!-- 删除SKU与可选项的关联条目 -->
	<delete id="deleteSkuItemRelation" parameterType="long">
		delete from wms_sku_item_relation 
	 	 where sku_id = #{skuId}
	</delete>
 
 </mapper>