<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.WarehouseDao" >
	
	<!-- 获取仓库信息列表. -->
	<select id="queryWarehouseList" parameterType="map" resultType="Warehouse">
		  	  		select t1.id                 as id,
		  	  			   t1.warehouse_code     as warehouseCode,
			 			   t1.warehouse_name     as warehouseName,
			 			   t1.warehouse_address  as warehouseAddress,
			 			   t1.warehouse_phone    as warehousePhone,
			 			   t1.warehouse_contact  as warehouseContact,
			 			   t1.warehouse_type     as warehouseType,
			 			   t1.default_status     as defaultStatus,
			 			   t1.create_time        as createTime,
			 			   t1.remark             as remark,
			 			   t1.enabled            as enabled
					  from wms_warehouse t1
				  <where>
				  	<if test="id != null">t1.id = #{id}</if>
				  	<if test="warehouseCode != null">and t1.warehouse_code = #{warehouseCode}</if>
			   		<if test="warehouseName != null">and t1.warehouse_name = #{warehouseName}</if>
			   		<if test="defaultStatus != null">and t1.default_status = #{defaultStatus}</if>
			   		<if test="enabled != null">and t1.enabled = #{enabled}</if>
			      </where> 
			      order by default_status desc
	</select>
	
	<!-- 添加仓库 -->
	<insert id="addWarehouse" parameterType="Warehouse">
 		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_warehouse
 			(id, warehouse_code, warehouse_name,warehouse_type,warehouse_address,warehouse_phone,warehouse_contact,default_status,create_time,remark,enabled)
 		values
 			(#{id},#{warehouseCode},#{warehouseName},#{warehouseType},#{warehouseAddress, jdbcType=VARCHAR},#{warehousePhone, jdbcType=VARCHAR},#{warehouseContact, jdbcType=VARCHAR},#{defaultStatus, jdbcType=NUMERIC},#{createTime},#{remark, jdbcType=VARCHAR},#{enabled})
	</insert>
	
	<!-- 更新仓库 -->
	<update id="updateWarehouse" parameterType="Warehouse">
		update wms_warehouse
		<set>
			<if test="warehouseAddress!=null">warehouse_address=#{warehouseAddress},</if>
			<if test="warehousePhone">warehouse_phone=#{warehousePhone},</if>
			<if test="warehouseContact!=null">warehouse_contact=#{warehouseContact},</if>
			<if test="warehouseType!=null">warehouse_type=#{warehouseType},</if>
			<if test="defaultStatus!=null">default_status=#{defaultStatus},</if>
			<if test="remark!=null">remark=#{remark},</if>
			<if test="enabled!=null">enabled=#{enabled},</if>
		</set>
		<where>
	   		<if test="id != null">id = #{id}</if>
	   		<if test="warehouseCode != null">and warehouse_code = #{warehouseCode}</if>
	     </where> 
	</update>
	
	<!-- 更新所有仓库为非默认状态 -->
	<update id="updateAllWarehouseToUndefault">
		update wms_warehouse
		   set default_status = 0
		 where default_status = 1
	</update>
	
 </mapper>