<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.ShippingDao" >
	
	<!-- 获取配送方式信息列表. -->
	<select id="queryShippingList" parameterType="map" resultType="Shipping">
		  	  		select t1.id as id,
		  	  			   t1.shipping_code as shippingCode,
			 			   t1.shipping_name as shippingName,
			 			   t1.phone as phone,
			 			   t1.contact as contact,
			 			   t1.default_status     as defaultStatus,
			 			   t1.create_time        as createTime,
			 			   t1.remark             as remark,
			 			   t1.enabled            as enabled,
			 			   t1.template_name      as templateName,
			 			   t1.company_code 	as companyCode
					  from wms_shipping t1
				  <where>
				  	<if test="id != null">t1.id = #{id}</if>
				  	<if test="shippingCode != null">and t1.shipping_code = #{shippingCode}</if>
			   		<if test="shippingName != null">and t1.shipping_name = #{shippingName}</if>
			   		<if test="defaultStatus != null">and t1.default_status = #{defaultStatus}</if>
			   		<if test="enabled != null">and t1.enabled = #{enabled}</if>
			      </where>
			      order by default_status desc 
	</select>
	
	<!-- 添加配送方式 -->
	<insert id="addShipping" parameterType="Shipping">
 		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select  WMS_SEQ_COMMON.nextval from dual
		</selectKey>
 		insert into wms_shipping
 			(id, shipping_code, shipping_name,phone,contact,default_status,create_time,remark,enabled,template_name, company_code)
 		values
 			(#{id},#{shippingCode},#{shippingName},#{phone, jdbcType=VARCHAR},#{contact, jdbcType=VARCHAR},#{defaultStatus, jdbcType=NUMERIC},#{createTime},#{remark, jdbcType=VARCHAR},#{enabled},#{templateName, jdbcType=VARCHAR},#{companyCode, jdbcType=VARCHAR})
	</insert>
	
	<!-- 更新配送方式 -->
	<update id="updateShipping" parameterType="Shipping">
		update wms_shipping
		<set>
			<if test="shippingName">shipping_name=#{shippingName},</if>
			<if test="phone">phone=#{phone},</if>
			<if test="contact!=null">contact=#{contact},</if>
			<if test="defaultStatus!=null">default_status=#{defaultStatus},</if>
			<if test="remark!=null">remark=#{remark},</if>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="templateName!=null">template_name=#{templateName},</if>
			<if test="companyCode!=null">company_code=#{companyCode}</if>
		</set>
		<where>
	   		<if test="id != null">id = #{id}</if>
	   		<if test="shippingCode != null">and shipping_code = #{shippingCode}</if>
	     </where> 
	</update>
	
	<!-- 更新所有配送方式为非默认状态 -->
	<update id="updateAllShippingToUndefault">
		update wms_shipping
		   set default_status = 0
		 where default_status = 1
	</update>
 </mapper>