<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.wms.dao.SystemConfigDao">

  <insert id="add" parameterType="SystemConfig">
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
      SELECT WMS_SEQ_COMMON.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO WMS_SYSTEM_CONFIG(
    "id",
    "key",
    "value",
    "comment",
    "status"
    )
    VALUES(
    #{id},
    #{key, jdbcType=VARCHAR},
    #{value, jdbcType=VARCHAR},
    #{comment, jdbcType=VARCHAR},
    #{status, jdbcType=DECIMAL}
    )
  </insert>
  
  <select id="queryList" resultType="SystemConfig" parameterType="Map">
    SELECT * FROM WMS_SYSTEM_CONFIG
    <where>
      <if test="key != null">
        AND "key" = #{key, jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <update id="update" parameterType="SystemConfig">
    UPDATE WMS_SYSTEM_CONFIG SET "value" = #{value, jdbctype=VARCHAR} WHERE "key" = #{key, jdbctype=VARCHAR}
  </update>

</mapper>