<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金立电商-统一用户中心后台</title>
<link href="css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="login_main">
    	<div class="login_tbg"></div>
        <div class="login_mbg">
        	<div class="login_frame">
            	<ul>
                	<li>
                    	<h4>账号：</h4>
                        <input type="text" value="" />
                    </li>
                    <li>
                    	<h4>密码：</h4>
                        <input type="password" value="" />
                    </li>
                    <li class="code">
                    	<h4>验证码：</h4>
                        <input type="text" value="" />
                        <img src="images/code.gif" alt="" />
                    </li>
                    <li class="error_tips" style="">请输入正确的用户名！</li>
                    <li class="btn"><a href="#">登 录</a></li>
                </ul>
            </div>
        </div>
        <div class="footer">Copyright &copy;2012-2015 gionee.com 粤ICP备05087105号</div>
    </div>
</body>
</html>