<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDatabaseRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDatabaseRealm" class="com.gionee.wms.service.account.ShiroDatabaseRealm">
		<property name="accountService" ref="accountService"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/authcCallback" />
		<property name="successUrl" value="/" />
		<property name="filters">
			<map>
				<!-- 身份验证 -->
				<entry key="authc" value-ref="authenticationFilter"/>
				<!-- 访问授权 -->
				<entry key="authz" value-ref="authorizationFilter"/>
				<!-- 退出 
				<entry key="logout" value-ref="logoutFilter"/>-->
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/invoice/** = anon
				/api/** = anon
				/ws/** = anon
				/dock/sf = anon
				/account/login!logout.action = anon
				/stock/test*.action = anon
				/template/** = anon
				/static/** = anon
				/stock/salesOrder!preview*.action = anon
				/barCodeTemp/** = anon
				/barCodeTransferTemp/** = anon
				/authcCallback = authc
				/** = authz
			</value>
		</property>
	</bean>
	
	<!-- 身份验证 -->
	<bean id="authenticationFilter" class="com.gionee.wms.web.filter.ShiroAuthenticationFilter"></bean>
	
	<!-- 访问授权 -->
	<bean id="authorizationFilter" class="com.gionee.wms.web.filter.ShiroAuthorizationFilter"></bean>
	
	<!-- 退出 -->
	<bean id="logoutFilter" class="com.gionee.wms.web.filter.ShiroLogoutFilter"></bean>
	
	<!-- 用户授权信息Cache, 可以用memory或EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:config/spring/ehcache-shiro.xml"/>
	</bean>
	<!-- <bean id="memoryCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" /> -->
	
	<!-- Shiro内部方法 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- 利用AOP开启shiro注解式权限检查  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
</beans>